@import '../../../../config.scss';

.campus-container {
  padding: 30px;
}

.campus-title {
  width: 100%;
  text-align: center;
  color: #546E7A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.campus-location {
  width: 100%;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #019cd1;
  text-align: center
}

.campus-profile-image {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  background: #E4E9ED;
  margin: 10px auto 20px auto;

  img {
    width: 100%;
  }
}

.campus-option {

  cursor: pointer;
  border-top: 2px solid #F4F7F9;
  border-right: 2px solid #F4F7F9;
  text-align: center;
  padding: 20px 0;
  color: #90A4AE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  @include transition(all, 0.3s);

  &.remove {
    &:hover {
      background: #c62828;
      border-top: 2px solid #c62828;
      border-right: 2px solid #c62828;
    }
  }

  &:hover {
    background: #016c90;
    color: #fff;
    border-top: 2px solid #016c90;
    border-right: 2px solid #016c90;
  }
}
