<div class="campuses-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">Campuses</h4>
        <div class="space-20"></div>
      </div>
      <div class="d-none col-12 d-lg-block col-md-6">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" (click)="navService.isNewCampusSliderToggled = true">
            Add Campus
          </div>
        </div>
      </div>
    </div>
    <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
      <div class="secondary-loading-container">
        <div class="secondary-loading"></div>
      </div>
    </div>
    <div class="row" *ngIf="campusService.campuses.length && !loading">
      <ng-template ngFor let-campus [ngForOf]="campusService.campuses">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="tile bottom-shadow">
            <div class="campus-container">
              <div class="row">
                <div class="col-12">
                  <div class="campus-profile-image">
                    <img *ngIf="!campus.coverImage" src="/assets/images/default-campus-profile.jpg">
                    <img *ngIf="campus.coverImage" src="{{campus.coverImage}}">
                  </div>
                  <div class="campus-title">{{campus.title}}</div>
                  <div class="campus-location" *ngIf="campus.physicalCity && campus.physicalCountry">{{campus.physicalCity}}, {{campus.physicalCountry}}</div>
                  <div class="campus-location" *ngIf="!campus.physicalCity && !campus.physicalCountry">Location Unknown</div>
                </div>
              </div>
            </div>
            <div class="campus-options">
              <div class="row no-gutters">
                <div class="col-12 col-lg-6">
                  <div class="campus-option">View Campus</div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="campus-option">Contact Campus</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row" *ngIf="!loading && !campusService.campuses.length">
      <div class="no-records-container d-flex align-items-center" (click)="navService.isNewCampusSliderToggled">
        <div class="no-records-inner">
          <div class="no-records-add-button" (click)="navService.isNewCampusSliderToggled = true">
            <svg><use xlink:href="#add-icon"></use></svg>
          </div>
          <div class="message">There are currently no campuses. Click the button above to add one.</div>
        </div>
      </div>
    </div>
  </div>
</div>
