<div class="dashboard-sub-pages-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">Curriculum</h4>
        <div class="space-20"></div>
      </div>
      <div class="col-12 d-none col-md-6 d-lg-block">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" (click)="navService.isNewCurriculumSliderToggled = true">
            Add Curriculum
          </div>
        </div>
      </div>
    </div>
    <div class="curriculum-table-container tile-table-container" *ngIf="curriculumService.curriculum.length">
      <table class="tile-table">
        <thead>
        <tr>
          <td class="curriculum-table-title">
            Curriculum Title
          </td>
          <td class="curriculum-table-campuses">
          Curriculum Campuses
          </td>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-curriculum [ngForOf]="curriculumService.curriculum">
          <tr>
            <td>{{curriculum.title}}</td>
            <td>{{campusesString(curriculum) | async}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="!loading && !curriculumService.curriculum.length">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button" (click)="navService.isNewCurriculumSliderToggled = true">
            <svg><use xlink:href="#add-icon"></use></svg>
          </div>
          <div class="message">There are currently no curriculum. Click the button above to add one.</div>
        </div>
      </div>
    </div>
  </div>
</div>
