<div class="dashboard-sub-page-container">
  <div class="dashboard-header-container d-flex align-items-center justify-content-between bottom-shadow">
    <div class="d-none dashboard-header d-lg-block">
      <div class="dashboard-greeting">
        Hi {{userService.user?.firstName}}
      </div>
    </div>
    <div class="dashboard-notifications bottom-shadow">
      <div class="dashboard-notifications-title">
        Recent Activity
      </div>
    </div>
  </div>
</div>
