.dashboard-sub-page-container {
  margin: 0 10px;
}

.dashboard-header-container {
  width: 100%;
  background:  #263238;
  background-size: cover;
  height: 400px;
}

.dashboard-greeting {
  padding: 30px;
  font-size: 3em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.dashboard-notifications {
  width: 400px;
  background: #fff;
  height: 100%;
  min-height: 440px;
  margin-top: 0;
  margin-right: 30px;

  .dashboard-notifications-title {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    font-weight: 100;
    color: #b0bec5;
    font-size: 1.3em;
    border-bottom: 1px solid #ECEFF1;
  }
}
