<div class="quick-links-container" [class.sticky]="navService.isDashboardNavSticky">
  <div class="quick-links-selection-container" [class.active]="navService.quickLinksMenuToggled" *ngIf="!loading">
    <div class="close-quick-links" (click)="navService.quickLinksMenuToggled = false"><svg><use xlink:href="#cross-icon"></use></svg></div>
    <h4>Quick Links</h4>
    <div class="separator white"></div>
    <div class="space-20"></div>
    <div class="quick-links-parent-container">
      <div *ngIf="toolService.globalTools.length" class="quick-links-parent">
        <div *ngFor="let tool of toolService.globalTools" class="quick-links-child"  [class.active]="this.isActiveQuickLink(tool.name)" (click)="this.addRemoveQuickLink(tool)">
          <div class="quick-links-child-icon">
            <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
          </div>
          <div class="quick-links-child-name">{{tool.name}}</div>
        </div>
      </div>
      <div *ngIf="toolService.administratorTools.length" class="quick-links-parent">
        <h5>Administrator Tools</h5>
        <div *ngFor="let tool of toolService.administratorTools" class="quick-links-child"  [class.active]="this.isActiveQuickLink(tool.name)" (click)="this.addRemoveQuickLink(tool)">
          <div class="quick-links-child-icon">
            <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
          </div>
          <div class="quick-links-child-name">{{tool.name}}</div>
        </div>
      </div>
      <div *ngIf="toolService.staffTools.length" class="quick-links-parent">
        <h5>Staff Tools</h5>
        <div *ngFor="let tool of toolService.staffTools" class="quick-links-child"  [class.active]="this.isActiveQuickLink(tool.name)" (click)="this.addRemoveQuickLink(tool)">
          <div class="quick-links-child-icon">
            <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
          </div>
          <div class="quick-links-child-name">{{tool.name}}</div>
        </div>
      </div>
      <div *ngIf="toolService.corporateSponsorTools.length" class="quick-links-parent">
        <h5>Corporate Sponsor Tools</h5>
        <div *ngFor="let tool of toolService.corporateSponsorTools" class="quick-links-child"  [class.active]="this.isActiveQuickLink(tool.name)" (click)="this.addRemoveQuickLink(tool)">
          <div class="quick-links-child-icon">
            <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
          </div>
          <div class="quick-links-child-name">{{tool.name}}</div>
        </div>
      </div>
      <div *ngIf="toolService.studentTools.length" class="quick-links-parent">
        <h5>Corporate Sponsor Tools</h5>
        <div *ngFor="let tool of toolService.studentTools" class="quick-links-child"  [class.active]="this.isActiveQuickLink(tool.name)" (click)="this.addRemoveQuickLink(tool)">
          <div class="quick-links-child-icon">
            <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
          </div>
          <div class="quick-links-child-name">{{tool.name}}</div>
        </div>
      </div>
      <div *ngIf="toolService.applicantTools.length" class="quick-links-parent">
        <h5>Corporate Sponsor Tools</h5>
        <div *ngFor="let tool of toolService.applicantTools" class="quick-links-child"  [class.active]="this.isActiveQuickLink(tool.name)" (click)="this.addRemoveQuickLink(tool)">
          <div class="quick-links-child-icon">
            <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
          </div>
          <div class="quick-links-child-name">{{tool.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="quick-links-sandwich"></div>
  <div class="quick-links-button-container" *ngIf="!this.loading">
    <div *ngFor="let tool of quickLinks" class="quick-links-button d-flex align-items-center" routerLink="{{tool.url}}" routerLinkActive="active">
      <div class="add-quick-link-inner">
        <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
        <div class="quick-links-text">{{tool.name}}</div>
      </div>
    </div>
    <div class="quick-links-button d-flex align-items-center" (click)="navService.toggleQuickLinksMenu()">
      <div class="add-quick-link-inner">
        <div class="quick-links-icon"><svg><use xlink:href="#new-icon"></use></svg></div>
        <div class="quick-links-text">Quick Links</div>
      </div>
    </div>
  </div>
  <div class="quick-links-loading-container" *ngIf="loading || toolService.loading">
    <div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
      <div class="loading-items-text">
        <div class="secondary-loading-container">
          <div class="secondary-loading"></div>
        </div>
      </div>
    </div>
  </div>
</div>
