<div class="student-reports-year-2-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-12">
      <ul class="sub-page-window-items">
        <li class="sub-page-window-item" routerLink="/dashboard/reports/student-reports/year-1" routerLinkActive="active">Year 1</li>
        <li class="sub-page-window-item" routerLink="/dashboard/reports/student-reports/year-2" routerLinkActive="active">Year 2</li>
      </ul>
      <div class="space-20"></div>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="student-reports-count">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of visible</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{studentService.visibleStudents}}</div></div>
              <div class="square-content-subtitle full-width">students</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="student-reports-table-container" (scroll)="scrollSticky($event)" *ngIf="!loading && !loadingMoreStudents">
    <div class="sub-page-table-slide-head" [class.active]="navService.isPerformanceReportTableSticky" id="sticky-student-performance-head">
      <table class="student-reports-table">
        <thead>
        <tr>
          <td class="student-reports-table-name">
            Student Name
          </td>
          <td class="student-reports-table-username">
            Username
            <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isStudentUsernameFilterMenuToggled }">
              <div class="tile-table-head-menu-title">
                Sort By:
              </div>
              <ul>
                <li (click)="sortByName('ascending')">
                  Ascending
                  <div class="tile-table-enabled" *ngIf="studentService.studentUsernameSort == 'ascending';">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
                <li (click)="sortByName('descending')">
                  Descending
                  <div class="tile-table-enabled" *ngIf="studentService.studentUsernameSort == 'descending';">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ul>
              <div class="tile-table-head-menu-title">
                Filter By:
              </div>
              <ul>
                <li (click)="toggleAllUsername('show')">Show all</li>
                <li (click)="toggleAllUsername('hide')">Hide all</li>
                <ng-template ngFor let-user [ngForOf]="users">
                  <li (click)="toggleStudentUsernameFilter(user)">
                    {{user.username}}
                    <div class="tile-table-enabled" *ngIf="user.visible$ | async">
                      <svg><use xlink:href="#tick-icon"></use></svg>
                    </div>
                  </li>
                </ng-template>
              </ul>
            </div>
          </td>
          <td class="student-reports-table-state">State</td>
          <td class="student-reports-table-column">Attendance</td>
          <td class="student-reports-table-column">Modules Validated Y1</td>
          <td class="student-reports-table-column">Modules Validated Y2</td>
          <td class="student-reports-table-column">C Exam</td>
          <td class="student-reports-table-column">Unix 1</td>
          <td class="student-reports-table-column">Algorithms 1</td>
          <td class="student-reports-table-column">Graphics 1</td>
          <td class="student-reports-table-column">PHP Bootcamp</td>
          <td class="student-reports-table-column">Web</td>
          <td class="student-reports-table-column">Algorithms 2</td>
          <td class="student-reports-table-column">Graphics 2</td>
          <td class="student-reports-table-column">Internship1</td>
          <td class="student-reports-table-column">CPP Bootcamp</td>
          <td class="student-reports-table-column">CPP</td>
          <td class="student-reports-table-column">Kernel</td>
          <td class="student-reports-table-column">Unix2</td>
          <td class="student-reports-table-column">Social Tech Lab</td>
          <td class="student-reports-table-column">Security</td>
          <td class="student-reports-table-column">Ocaml</td>
          <td class="student-reports-table-column">Swift / iOS</td>
          <td class="student-reports-table-column">Unity</td>
          <td class="student-reports-table-column">Java / Android</td>
          <td class="student-reports-table-column">DevOps</td>
          <td class="student-reports-table-column">Math</td>
          <td class="student-reports-table-column">Network</td>
          <td class="student-reports-table-column">Virus</td>
        </tr>
        </thead>
      </table>
    </div>
    <table id="student-reports-table" class="student-reports-table">
      <thead>
      <tr>
        <td class="student-reports-table-name" (click)="isStudentNameFilterMenuToggled = true" id="studentNameFilter">
          Student Name
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isStudentNameFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Sort By:
            </div>
            <ul>
              <li (click)="sortByName('ascending')">
                Ascending
                <div class="tile-table-enabled" *ngIf="studentService.studentNameSort == 'ascending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
              <li (click)="sortByName('descending')">
                Descending
                <div class="tile-table-enabled" *ngIf="studentService.studentNameSort == 'descending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
            </ul>
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllName('show')">Show all</li>
              <li (click)="toggleAllName('hide')">Hide all</li>
              <ng-template ngFor let-user [ngForOf]="users">
                <li (click)="toggleStudentNameFilter(user)">
                  {{user.firstName}} {{user.lastName}}
                  <div class="tile-table-enabled" *ngIf="user.visible$ | async">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-username" (click)="isStudentUsernameFilterMenuToggled = true" id="studentUsernameFilter">
          Username
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isStudentUsernameFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Sort By:
            </div>
            <ul>
              <li (click)="sortByName('ascending')">
                Ascending
                <div class="tile-table-enabled" *ngIf="studentService.studentUsernameSort == 'ascending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
              <li (click)="sortByName('descending')">
                Descending
                <div class="tile-table-enabled" *ngIf="studentService.studentUsernameSort == 'descending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
            </ul>
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUsername('show')">Show all</li>
              <li (click)="toggleAllUsername('hide')">Hide all</li>
              <ng-template ngFor let-user [ngForOf]="users">
                <li (click)="toggleStudentUsernameFilter(user)">
                  {{user.username}}
                  <div class="tile-table-enabled" *ngIf="user.visible$ | async">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-state" (click)="isStudentStateFilterMenuToggled = true" id="studentStateFilter">
          State
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isStudentStateFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllState('show')">Show all</li>
              <li (click)="toggleAllState('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.studentStateFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleStateFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isAttendanceFilterMenuToggled = true" id="attendanceFilter">
          Attendance
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isAttendanceFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Sort By:
            </div>
            <ul>
              <li (click)="sortByAttendance('ascending')">
                Ascending
                <div class="tile-table-enabled" *ngIf="studentService.attendanceSort == 'ascending'">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
              <li (click)="sortByAttendance('descending')">
                Descending
                <div class="tile-table-enabled" *ngIf="studentService.attendanceSort == 'descending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
            </ul>
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllAttendance('show')">Show all</li>
              <li (click)="toggleAllAttendance('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.attendanceFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleAttendanceFilter(filter.day)">
                  {{filter.day}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isModulesValidatedY1MenuToggled = true" id="modulesValidatedY1Filter">
          Modules Validated Y1
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isModulesValidatedY1MenuToggled }">
            <div class="tile-table-head-menu-title">
              Sort By:
            </div>
            <ul>
              <li (click)="sortByModulesValidatedY1('ascending')">
                Ascending
                <div class="tile-table-enabled" *ngIf="studentService.modulesValidatedY1Sort == 'ascending'">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
              <li (click)="sortByModulesValidatedY1('descending')">
                Descending
                <div class="tile-table-enabled" *ngIf="studentService.modulesValidatedY1Sort == 'descending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
            </ul>
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllModulesValidatedY1('show')">Show all</li>
              <li (click)="toggleAllModulesValidatedY1('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.modulesValidatedY1Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleModulesValidatedY1Filter(filter.value)">
                  {{filter.value}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isModulesValidatedY2MenuToggled = true" id="modulesValidatedY2Filter">
          Modules Validated Y2
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isModulesValidatedY2MenuToggled }">
            <div class="tile-table-head-menu-title">
              Sort By:
            </div>
            <ul>
              <li (click)="sortByModulesValidatedY2('ascending')">
                Ascending
                <div class="tile-table-enabled" *ngIf="studentService.modulesValidatedY2Sort == 'ascending'">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
              <li (click)="sortByModulesValidatedY2('descending')">
                Descending
                <div class="tile-table-enabled" *ngIf="studentService.modulesValidatedY2Sort == 'descending';">
                  <svg><use xlink:href="#tick-icon"></use></svg>
                </div>
              </li>
            </ul>
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllModulesValidatedY2('show')">Show all</li>
              <li (click)="toggleAllModulesValidatedY2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.modulesValidatedY2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleModulesValidatedY2Filter(filter.value)">
                  {{filter.value}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isExamFilterMenuToggled = true" id="examFilter">
          C Exam
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isExamFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllExam('show')">Show all</li>
              <li (click)="toggleAllExam('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.examFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleExamFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix1FilterMenuToggled = true" id="unix1Filter">
          Unix 1
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isUnix1FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix1('show')">Show all</li>
              <li (click)="toggleAllUnix1('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix1Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix1Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isAlgorithms1FilterMenuToggled = true" id="algorithms1Filter">
          Algorithms 1
          <div class="tile-table-head-menu left bottom-shadow" [ngClass]="{ active: isAlgorithms1FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllAlgorithms1('show')">Show all</li>
              <li (click)="toggleAllAlgorithms1('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.algorithms1Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleAlgorithms1Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isGraphics1FilterMenuToggled = true" id="graphics1Filter">
          Graphics 1
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isGraphics1FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllGraphics1('show')">Show all</li>
              <li (click)="toggleAllGraphics1('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.graphics1Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleGraphics1Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isPHPBootcampFilterMenuToggled = true" id="PHPBootcampFilter">
          PHP Bootcamp
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isPHPBootcampFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllPHPBootcamp('show')">Show all</li>
              <li (click)="toggleAllPHPBootcamp('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.PHPBootcampFilter">
                <li (click)="filter.enabled = !filter.enabled; togglePHPBootcampFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isWebFilterMenuToggled = true" id="webFilter">
          Web
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isWebFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllWeb('show')">Show all</li>
              <li (click)="toggleAllWeb('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.webFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleWebFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isAlgorithms2FilterMenuToggled = true" id="algorithms2Filter">
          Algorithms 2
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isAlgorithms2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllAlgorithms2('show')">Show all</li>
              <li (click)="toggleAllAlgorithms2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.algorithms2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleAlgorithms2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isGraphics2FilterMenuToggled = true" id="graphics2Filter">
          Graphics 2
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isGraphics2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllGraphics2('show')">Show all</li>
              <li (click)="toggleAllGraphics2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.graphics2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleGraphics2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isInternship1FilterMenuToggled = true" id="internship1Filter">
          Internship 1
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isInternship1FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllInternship1('show')">Show all</li>
              <li (click)="toggleAllInternship1('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.internship1Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleInternship1Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isCPPBootcampFilterMenuToggled = true" id="CPPBootcampFilter">
          CPP Bootcamp
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isCPPBootcampFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllCPPBootcamp('show')">Show all</li>
              <li (click)="toggleAllCPPBootcamp('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.CPPBootcampFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleCPPBootcampFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isCPPFilterMenuToggled = true" id="CPPFilter">
          CPP
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isCPPFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllCPP('show')">Show all</li>
              <li (click)="toggleAllCPP('show')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.CPPFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleCPPFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isKernelFilterMenuToggled = true" id="kernelFilter">
          Kernel
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isKernelFilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllKernel('show')">Show all</li>
              <li (click)="toggleAllKernel('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.kernelFilter">
                <li (click)="filter.enabled = !filter.enabled; toggleKernelFilter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="unix2Filter">
          Unix2
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="socialTechFilter">
          Social Tech Lab
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="securityFilter">
          Security
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="ocamlFilter">
         OCAML
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="swiftIosFilter">
          Swift / iOS
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="unityFilter">
          Unity
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="javaAndroidFilter">
          Java / Android
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="devopsFilter">
          DevOps
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="mathFilter">
          Math
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="networkFilter">
          Network
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
        <td class="student-reports-table-column" (click)="isUnix2FilterMenuToggled = true" id="virusFilter">
          virus
          <div class="tile-table-head-menu right bottom-shadow" [ngClass]="{ active: isUnix2FilterMenuToggled }">
            <div class="tile-table-head-menu-title">
              Filter By:
            </div>
            <ul>
              <li (click)="toggleAllUnix2('show')">Show all</li>
              <li (click)="toggleAllUnix2('hide')">Hide all</li>
              <ng-template ngFor let-filter [ngForOf]="studentService.unix2Filter">
                <li (click)="filter.enabled = !filter.enabled; toggleUnix2Filter(filter)">
                  {{filter.type}}
                  <div class="tile-table-enabled" *ngIf="filter.enabled === true">
                    <svg><use xlink:href="#tick-icon"></use></svg>
                  </div>
                </li>
              </ng-template>
            </ul>
          </div>
        </td>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-user [ngForOf]="users">
        <tr class="student-table-row" *ngIf="user.visible$ | async as visible">
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>
            <div *ngIf="user.state === 'active'" [ngClass]="{validated: user.state === 'active', 'not-validated': user.state !== 'active'}">{{user.state}}</div>
          </td>
          <td class="text-align-center">
            <div class="validation-icon" [ngClass]="{ validated: (studentService.isAttendanceCompliantLastMonth(user) | async) >= 15, 'not-validated': (studentService.isAttendanceCompliantLastMonth(user) | async) < 15}">{{studentService.isAttendanceCompliantLastMonth(user) | async}}</div></td>
          <td class="text-align-center"><div class="validation-icon" [ngClass]="{validated: user.validatedModulesY1 >= 2, 'not-validated': user.validatedModulesY1 < 2}">{{user.validatedModulesY1}}</div></td>
          <td class="text-align-center"><div class="validation-icon" [ngClass]="{validated: user.validatedModulesY2 >= 2, 'not-validated': user.validatedModulesY2 < 2}">{{user.validatedModulesY2}}</div></td>
          <td class="text-align-center">
          <div *ngIf="user.validatedCExam" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedCExam" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedUnix1" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedUnix1" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedAlgorithms1" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedAlgorithms1" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedGraphics1" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedGraphics1" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedPHPBootcamp" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedPHPBootcamp" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedWeb" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedWeb" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedAlgorithms2" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedAlgorithms2" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedGraphics2" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedGraphics2" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedInternship1" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedInternship1" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedCPPBootcamp" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedCPPBootcamp" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedCPP" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedCPP" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedKernel" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedKernel" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedUnix2" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedUnix2" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedSocialTechLab" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedSocialTechLab" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedSecurity" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedSecurity" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedOcaml" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedOcaml" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedSwiftIos" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedSwiftIos" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedUnity" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedUnity" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedJavaAndroid" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedJavaAndroid" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedDevops" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedDevops" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedMath" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedMath" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedNetwork" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedNetwork" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
          <td class="text-align-center">
            <div *ngIf="user.validatedVirus" class="validation-icon validated"><svg><use xlink:href="#tick-icon"></use></svg></div>
            <div *ngIf="!user.validatedVirus" class="validation-icon not-validated"><svg><use xlink:href="#cross-icon"></use></svg></div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
  <div class="student-reports-table-load-more" *ngIf="!loading">
    <div class="loading-items text-align-center d-flex align-items-center" *ngIf="loadingMoreStudents && !loading">
      <div class="loading-items-text">
        <div class="secondary-loading-container">
          <div class="secondary-loading"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-align-center">
        <div class="button button-grey-outline center-element" *ngIf="!loadingMoreStudents && !loading" (click)="downloadAsCSV()">Download as CSV</div>
      </div>
    </div>
  </div>
</div>
