<div class="project-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">{{projectService.selectedProject.title}}</h4>
        <div class="space-20"></div>
      </div>
      <div class="d-none col-12 d-lg-block col-md-6">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margin" *ngIf="!componentFailure && authenticationService.role === 'administrator'" (click)="navService.isNewProjectInstanceSliderToggled = true">
            Add Project Instance
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!componentFailure && !loading">
      <div class="col-12">
        <app-element-project-instances></app-element-project-instances>
      </div>
    </div>
    <div class="row" *ngIf="componentFailure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button">
            <svg><use xlink:href="#failure-icon"></use></svg>
          </div>
          <h3>Oops!</h3>
          <div class="message">{{resultMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
