<div class="note-container slide-out-container left-shadow" [ngClass]="{ 'active': navService.notesSliderToggled }">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="navService.notesSliderToggled = false">
      <svg><use xlink:href="#cross-icon"></use></svg></div>
    <div class="slide-out-title">
      Add note
    </div>
  </div>
  <div class="slide-out-body">
    <ng-template [ngIf]="!loading && !failure && !success">
      <form>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="space-20"></div>
              <div class="input-container">
                <input name="title" placeholder="Note Title" [(ngModel)]="noteService.activeNote.title" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0001'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <textarea name="content" placeholder="Note Content" [(ngModel)]="noteService.activeNote.content"></textarea>
                <div class="input-error" *ngIf="error?.code === 'C0002'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <select name="priority" title="priority" [(ngModel)]="noteService.activeNote.priority">
                  <option value="" disabled selected>Note Priority</option>
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
                <div class="input-error" *ngIf="error?.code === 'C0003'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <div class="notes-loading-container d-flex align-items-center">
      <div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="notes-result-container d-flex align-items-center">
      <div class="notes-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="success">{{successMessage}}</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="failure">{{failureMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="success || failure" (click)="clearNote(); navService.notesSliderToggled = false;">Close</div>
          <div class="button button-grey-outline" (click)="saveNote()"  *ngIf="!success && !failure">Save</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" (click)="clearNote()"  *ngIf="failure">Try again</div>
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="clearNote(); navService.notesSliderToggled = false;">Cancel</div>
        </div>
      </div>
    </div>

  </div>
</div>
