@import '../../../../config';

.note-container {
  width: 400px;
  right: -415px;
  @include transition(all, 0.5s);

  &.active {
    right: 0;
  }
}



.notes-result-container {
  min-height: 300px;
}

.notes-result{
  width: 100%;
  text-align: center;

  .notes-result-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
  }

  img {
    width: 150px;
    height: 150px;
    margin: 30px 0;
  }

}
