<div [ngClass]="{ active: navService.menuToggled }" class="menu-container">
  <div class="bg">
    <div [ngClass]="{ active: navService.menuToggled }" class="bg-white bottom-shadow"></div>
    <div [ngClass]="{ active: navService.menuToggled }" class="bg-blue bottom-shadow"></div>
    <div [ngClass]="{ active: navService.menuToggled }" class="bg-dark-blue bottom-shadow d-flex align-items-center">
      <ul [ngClass]="{ active: navService.menuToggled }" class="menu-items">
        <li *ngFor="let item of navService.pages" (click)="navService.menuToggled = false" routerLinkActive="active" routerLink="{{item.url}}" class="menu-item">{{item.name}}</li>
      </ul>
    </div>
  </div>
</div>
