@import "../../../../config";

.menu-container {
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  width:100vw;
  height: calc(100vh - 100px);
  z-index: 98;
}

.menu-container.active {
  visibility: visible;
}

.bg {
  width: 100%;
  height: 100%;
}

.bg-white {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -o-transition: all .5s .5s;
  -ms-transition: all .5s .5s;
  -moz-transition: all .5s .5s;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
}

.bg-white.active {
  top: 0;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bg-blue {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #016c90;
  -webkit-transition-delay: .25s; /* Safari */
  transition-delay: .25s;
  -o-transition: all .5s .25s;
  -ms-transition: all .5s .25s;
  -moz-transition: all .5s .25s;
  -webkit-transition: all .5s .25s;
  transition: all .5s .25s;
}

.bg-blue.active {
  top:0;
}

.bg-dark-blue {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #002737;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bg-dark-blue.active {
  -o-transition: all .5s .5s;
  -ms-transition: all .5s .5s;
  -moz-transition: all .5s .5s;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
  top: 0;
  height: 100%;
}

.menu-items {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
  list-style: none;
  overflow:auto;
}
.menu-item {
  color: #093e53;
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include transition(all, 0.3s);
  cursor: pointer;
}

.menu-item:focus {
  outline: none;
}


.menu-item.active {
  color: #90A4AE;
}

.menu-item.active:hover {
  color: #fff;
}

.menu-item:hover {
  color: #3c758d;
}
