<div [class.active]="navService.isNewCurriculumSliderToggled" class="new-curriculum-slider-container slide-out-container left-shadow">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="navService.isNewCurriculumSliderToggled = false">
      <svg><use xlink:href="#cross-icon"></use></svg>    </div>
    <div class="slide-out-title">
      New Curriculum
    </div>
  </div>
  <div class="slide-out-body">
    <form *ngIf="!loading && !success && !failure">
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>General Information</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="title" placeholder="Title" [(ngModel)]="curriculum.title" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0001'">{{this.error.message}}</div>
              </div>
            </div>
            <ng-template ngFor let-campus let-i="index" [ngForOf]="curriculum.campuses">
              <div class="col-12">
                <div class="input-container">
                  <select name="campus" [(ngModel)]="curriculum.campuses[i].id" (change)="setCampus($event.target.value, i)">
                    <option [value]="-1" disabled selected *ngIf="campusesLoading">Loading...</option>
                    <option [value]="-1" disabled selected *ngIf="!campusesLoading">Select a Curriculum</option>
                      <option *ngFor="let fetched of campuses" [value]="fetched.id">{{fetched.title}}</option>
                  </select>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="success">{{successMessage}}</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="failure">{{failureMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="submitNewCurriculum()">Save</div>
          <div class="button button-grey-outline" *ngIf="success || failure" (click)="clearNewCurriculum()">Close</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure"  (click)="clearNewCurriculum()">Cancel</div>
        </div>
      </div>
    </div>

  </div>
</div>
