<div class="finalize-bootcamp-container slide-out-container left-shadow" [class.active]="navService.isFinalizeBootcampSliderToggled">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="resetSlider()">
      <svg><use xlink:href="#cross-icon"></use></svg></div>
    <div class="slide-out-title">
      Finalize Bootcamp
    </div>
  </div>
  <div class="slide-out-body">
    <div class="tile-form-title" *ngIf="!loading && !success && !failure"><svg><use xlink:href="#info-icon"></use></svg>Are you sure?</div>
    <div class="slide-out-text" *ngIf="!loading && !success && !failure">Are you really sure you'd like to finalize the {{bootcampService.selectedBootcamp?.title}} bootcamp? This is an irreversible process and will send emails to all bootcamp students confirming their acceptance, non-acceptance or ability to retry a bootcamp.</div>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium">{{resultMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure && !loading" (click)="finalizeBootcamp()">Yes</div>
          <div class="button button-grey-outline" *ngIf="(success || failure) && !loading" (click)="resetSlider()">Close</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure && !loading" (click)="resetSlider()">No</div>
        </div>
      </div>
    </div>
  </div>
</div>
