<div class="signup-page-container d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 push-md-2 col-lg-6 push-lg-6">
        <div class="tile text-align-center">
          <div *ngIf="loading" class="tile-loading-container d-flex align-items-center">
            <div class="tile-loading">
              <img src="/assets/images/wethinkcode-logo-loading.gif">
            </div>
          </div>
          <div *ngIf="success || failure" class="tile-result-container">
            <div *ngIf="success" class="tile-result">
              <img src="/assets/images/success-animation.gif">
              <div class="tile-result-title text-color-success">Success</div>
              <div class="tile-result-text text-color-medium">{{successMessage}}</div>
              <button *ngIf="isActivation && success" type="button" class="button" routerLink="/signin">Sign In</button>
            </div>
            <div *ngIf="failure" class="tile-result">
              <img src="/assets/images/failure-animation.gif">
              <div class="tile-result-title text-color-failure">Oops!</div>
              <div class="tile-result-text text-color-medium">{{error.message}}</div>
              <button *ngIf="isActivation && failure && (error?.code === 'S0005')" type="button" class="button" routerLink="/signin">Sign In</button>
              <button *ngIf="isActivation && failure && (error?.code === 'S0003')" type="button" class="button" (click)="isActivation = false; failure = false; clearError()">Sign Up</button>
              <button *ngIf="!isActivation && failure" type="button" class="button" (click)="failure = false; clearError()">Try again</button>

            </div>
          </div>
          <div *ngIf="!failure && !success" class="tile-body">
            <form class="signin-form" (keyup)="keyhook($event)">
              <h3 class="text-weight-bold text-color-medium-dark">Sign Up</h3>
              <h5 class="text-weight-thin text-color-medium">Create your account</h5>
              <div class="space-20"></div>
              <div class="input-container">
                <input [(ngModel)]="user.firstName" (focus)="clearError()" type="text" name="firstName" placeholder="First Name">
                <div *ngIf="error.code === 'C0001'" class="input-error">{{error.message}}</div>
              </div>
              <div class="input-container">
                <input [(ngModel)]="user.lastName" (focus)="clearError()" type="text" name="lastName" placeholder="Last Name">
                <div *ngIf="error.code === 'C0002'" class="input-error">{{error.message}}</div>
              </div>
              <div class="input-container">
                <input [(ngModel)]="user.email" (focus)="clearError()" type="email" name="email" placeholder="Email address">
                <div *ngIf="error.code === 'C0003' || error.code === 'C0004'" class="input-error">{{error.message}}</div>
              </div>
              <div class="input-container">
                <input [(ngModel)]="user.password" (focus)="clearError()" type="password" name="password" placeholder="Password">
                <div *ngIf="error.code === 'C0005' || error.code == 'C0006'" class="input-error">{{error.message}}</div>
              </div>
              <div class="input-container">
                <input [(ngModel)]="user.passwordRepeat" (focus)="clearError()"  type="password" name="passwordRepeat" placeholder="Repeat Password">
                <div *ngIf="error.code === 'C0007'" class="input-error">{{error.message}}</div>
              </div>
              <div class="link text-size-small">Already have an account? Sign in</div>
              <div class="text-size-extra-small text-weight-thin text-color-medium">By signing up, I agree to the WeThinkCode_ <a routerLink="/terms">Terms of service</a></div>
              <div class="space-20"></div>
              <button type="button" class="button" (click)="submitSignup()">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
