<div class="projects-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">Projects</h4>
        <div class="space-20"></div>
      </div>
      <div class="d-none col-12 d-lg-block col-md-6">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" *ngIf="!componentFailure && authenticationService.role === 'administrator'" (click)="navService.isNewProjectSliderToggled = true">
            Add Project
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!projectService.projects.length && !componentFailure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button" (click)="navService.isNewProjectSliderToggled = true">
            <svg><use xlink:href="#add-icon"></use></svg>
          </div>
          <div class="message">There are currently no modules. Click the button above to add one.</div>
        </div>
      </div>
    </div>
    <div class="curriculum-table-container tile-table-container" *ngIf="projectService.projects.length">
      <table class="tile-table">
        <thead>
        <tr>
          <td class="curriculum-table-title">
            Project Title
          </td>
          <td class="curriculum-table-campuses">
            Module Curriculum
          </td>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-project [ngForOf]="projectService.projects">
          <tr>
            <td routerLink="{{getProjectIdentifier(project)}}">{{project.title}}</td>
            <td></td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="componentFailure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button">
            <svg><use xlink:href="#failure-icon"></use></svg>
          </div>
          <div class="message">{{resultMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
