<div class="login-page-container d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 push-md-2 col-lg-6 push-md-3">
        <div class="tile bottom-shadow text-align-center">
          <div *ngIf="loading" class="tile-loading-container d-flex align-items-center">
            <div class="tile-loading">
              <img src="/assets/images/wethinkcode-logo-loading.gif">
            </div>
          </div>
          <div *ngIf="success || failure" class="tile-result-container">
            <div *ngIf="success" class="tile-result">
              <img src="/assets/images/success-animation.gif">
              <div class="tile-result-title text-color-success">Success</div>
              <div class="tile-result-text text-color-medium">{{successMessage}}</div>
            </div>
              <div *ngIf="failure" class="tile-result">
                <img src="/assets/images/failure-animation.gif">
                <div class="tile-result-title text-color-failure">Failure</div>
                <div class="tile-result-text text-color-medium">{{error.message}}</div>
                <button *ngIf="failure" type="button" class="button" (click)="failure = false; clearError()">Try again</button>
                <button *ngIf="failure && (error?.code === 'S0003')" type="button" class="button" routerLink="/signup">Sign Up</button>
                </div>
          </div>
          <div *ngIf="!failure && !success" class="tile-body">
            <form class="signin-form" (keyup)="keyhook($event)">
              <h3 *ngIf="!isResetInit && !isReset" class="text-weight-bold text-color-medium-dark">Sign in</h3>
              <h3 *ngIf="isResetInit || isReset" class="text-weight-bold text-color-medium-dark">Reset your password</h3>
              <h3 *ngIf="isSetPassword" class="text-weight-bold text-color-medium-dark">Set your password</h3>
              <h5 *ngIf="!isResetInit && !isReset" class="text-weight-thin text-color-medium">Log into your dashboard</h5>
              <h5 *ngIf="isResetInit || isReset || isSetPassword" class="text-weight-thin text-color-medium">Create a new password for your account</h5>
              <div class="space-20"></div>
              <div *ngIf="!isReset" class="input-container">
                <input [(ngModel)]="user.identifier" (focus)="clearError()" type="text" name="identifier" placeholder="Username/Email address">
                <div *ngIf="error.code === 'C0001'" class="input-error">{{error.message}}</div>
              </div>
              <div *ngIf="!isResetInit" class="input-container">
                <input [(ngModel)]="user.password" (focus)="clearError()" type="password" name="password" placeholder="Password">
                <div *ngIf="error.code == 'C0002' || error.code === 'C0003' || error.code ==='C0004'" class="input-error">{{error.message}}</div>
              </div>
              <div *ngIf="isReset" class="input-container">
                <input [(ngModel)]="user.passwordRepeat" (focus)="clearError()" type="password" name="passwordRepeat" placeholder="Repeat Password">
                <div *ngIf="error.code === 'C0005'" class="input-error">{{error.message}}</div>
              </div>
              <div *ngIf="!isResetInit && !isReset && !isSetPassword" class="link text-size-small" (click)="isResetInit = true">Forgot your password? Reset it here</div>
              <div *ngIf="(isResetInit || isReset) && !isSetPassword" class="link text-size-small" (click)="isResetInit = false; isReset = false">Remember your password? Sign in here</div>
              <div class="link text-size-small" routerLink="/signup">Don't have an account yet? Sign up here</div>
              <div class="space-20"></div>
              <button *ngIf="!isResetInit && !isReset && !isSetPassword" type="button" class="button" (click)="submitSignin()">Sign In</button>
              <button *ngIf="isResetInit" type="button" class="button" (click)="resetInitSubmit()">Reset Your Password</button>
              <button *ngIf="isReset" type="button" class="button" (click)="resetSubmit()">Reset Your Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
