.report-item {
  svg {
    width: 100%;
    max-height: 100px;
    fill: #607D8B;
  }

  .report-item-title {
    font-size: 1.2em;
    color: #016c90;
  }

  .report-item-description {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    color: #b0bec5;
    font-weight: 100;
  }
}
