<div class="reports-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">Reports</h4>
        <div class="space-30"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="tile bottom-shadow">
          <div class="tile-body">
            <div class="report-item">
              <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                  <svg><use xlink:href="#performance-icon"></use></svg>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                  <div class="report-item-title">Student performance</div>
                  <div class="report-item-description">Reporting data for modules and milestones validated by students</div>
                  <div class="space-20"></div>
                  <a routerLink="/dashboard/reports/student-reports">
                    <div class="button-small">View</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
