<div class="sequence-container" [class.active]="navService.isSequenceToggled">
  <div class="sequence-inner">
    <div class="toggle-sequence" (click)="navService.isSequenceToggled = !navService.isSequenceToggled">
      <svg><use xlink:href="#up-icon"></use></svg>
    </div>
    <table class="sequence-items">
      <tr>
        <ng-template ngFor let-step [ngForOf]="steps" let-i="index">
          <td [class.active]="step.is_current" (click)="changeStep(step)">
            {{step.title}}
            <div class="item-next" *ngIf="i !== steps.length"></div>
          </td>
        </ng-template>
      </tr>
    </table>
  </div>
</div>
