@import '../../../../config';

.sequence-container {
  z-index: 4;
  width: calc(100% - 100px);
  height: 70px;
  position: fixed;
  bottom: -70px;
  right: 0;
  background: #202B30;
  @include transition(all, 0.5s);

  &.active {
    bottom: 0;

    .sequence-inner .toggle-sequence svg {
      -ms-transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
  }

  .sequence-inner {
    width: 100%;
    height: 100%;
    position: relative;

    .toggle-sequence {
      position: absolute;
      top: -40px;
      right: calc(50% - 20px);
      height: 40px;
      width: 100px;
      border-bottom: 1px solid #2D3B3F;
      background: #202B30;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center;
      padding: 5px 0;
      @include transition(all, 0.3s);
      cursor: pointer;

      &:hover {
        background: #016588;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: #607D8B;
        width: 30px;
        height: 30px;
        @include transition(all, 0.3s);
      }
    }

    .sequence-items {
      width: 100%;

      tr {
        td {
          font-size: 0.9em;
          font-family: "Open Sans", sans-serif;
          font-weight: 100;
          text-transform: capitalize;
          color: #607D8B;
          text-align: center;
          padding: 25px;
          cursor: pointer;
          @include transition(all, 0.3s);

          &:first-child {
            box-shadow: inset 6px 0 6px -6px rgba(0,0,0,0.5);
          }

          &:not(:last-child) {
            border-right: 1px solid #2D3B3F;
          }

          &:hover {
            background: #263238;
            color: #90A4AE;
          }

          &.active {
            background: #016588;
            color: #fff;

            &:hover {
              background: #019cd1;
              color: #fff;
            }
          }
        }
      }
    }
  }

}
