<div class="image-loader-container">
  <div class="image-loader">
    <img src="{{imagePlaceholder}}" *ngIf=" imagePlaceholder && !imageUrl">
    <img src="{{imageUrl}}" *ngIf="imageUrl">
  </div>
</div>
