<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="sub-page-title">Student Reports</h4>
      <div class="space-20"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
