<div [class.active]="navService.isNewProjectInstanceSliderToggled" class="new-project-instance-slider-container slide-out-container left-shadow">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="clearProjectInstance()">
      <svg><use xlink:href="#cross-icon"></use></svg>    </div>
    <div class="slide-out-title">
      New Project Instance
    </div>
  </div>
  <div class="slide-out-body">
    <form *ngIf="!loading && !success && !failure">
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>General Information</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="title" placeholder="Instance Title" [(ngModel)]="projectInstance.title" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0001'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>Instance Rules</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="title" placeholder="Validation Grade" [(ngModel)]="projectInstance.validationGrade" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0002' || error?.code === 'C0003'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <app-element-date-selector (click)="clearError()" (update)="setStartDate($event)" [placeholder]="'Start date'"></app-element-date-selector>
                <div class="input-error" *ngIf="error?.code === 'C0004'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <app-element-date-selector (click)="clearError()" (update)="setEndDate($event)" [placeholder]="'End date'"></app-element-date-selector>
                <div class="input-error" *ngIf="error?.code === 'C0005'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium">{{resultMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure && !loading" (click)="newProjectInstance()">Save</div>
          <div class="button button-grey-outline" *ngIf="success || failure" (click)="closeForm()">Cancel</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="closeForm()">Cancel</div>
          <div class="button button-grey-outline" *ngIf="success" (click)="clearForm()">Add more</div>
          <div class="button button-grey-outline" *ngIf="failure" (click)="failure = false; success = false;">Try again</div>
        </div>
      </div>
    </div>
  </div>
</div>
