@import "../../../../config";

.new-project-instance-slider-container {
  width: 400px;
  max-width: calc(100vw - 30px);
  right: -420px;
  @include transition(all, 0.5s);

  &.active {
    right: 0;
  }
}
