<div class="bootcamp-container sub-page-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">Bootcamps</h4>
        <div class="space-20"></div>
      </div>
      <div class="d-none col-12 d-lg-block col-md-6">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" (click)="navService.isNewBootcampSliderToggled = true">
            Add Bootcamp
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!bootcampService.bootcamps.length && !componentFailure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button" (click)="navService.isNewBootcampSliderToggled = true">
            <svg><use xlink:href="#add-icon"></use></svg>
          </div>
          <div class="message">There are currently no bootcamps. Click the button above to add one.</div>
        </div>
      </div>
    </div>
    <div class="curriculum-table-container tile-table-container" *ngIf="bootcampService.bootcamps.length">
      <table class="tile-table">
        <thead>
        <tr>
          <td>
            Bootcamp Title
          </td>
          <td width="150" align="center">
            Bootcampers
          </td>
          <td width="150" align="center">
            Accepted
          </td>
          <td width="150" align="center">
            Declined
          </td>
          <td width="150" align="center">
            Retry
          </td>
          <td width="150" align="center">
            Undecided
          </td>
          <td width="150" align="center">
            Male
          </td>
          <td width="150" align="center">
            Female
          </td>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-bootcamp [ngForOf]="bootcampService.bootcamps">
          <tr>
            <td routerLink="{{getBootcampIdentifier(bootcamp)}}">{{bootcamp.title}}</td>
            <td align="center">{{bootcamp.countBootcampers}}</td>
            <td align="center">{{bootcamp.countAccepted}}</td>
            <td align="center">{{bootcamp.countDeclined}}</td>
            <td align="center">{{bootcamp.countRetry}}</td>
            <td align="center">{{bootcamp.countUndecided}}</td>
            <td align="center">{{bootcamp.countMale}}</td>
            <td align="center">{{bootcamp.countFemale}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="componentFailure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button">
            <svg><use xlink:href="#failure-icon"></use></svg>
          </div>
          <div class="message">{{resultMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
