<div class="user-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading && !componentFailure">
    <div class="row">
      <div class="col-12">
        <div class="user-header bottom-shadow">
          <div class="row no-gutters">
            <div class="col-12">
              <div class="user-header-cover" [style.background-image]="userService.selectedUser.coverImage ? 'url(\'' + userService.selectedUser.coverImage + '\')' : 'url(\'/assets/images/default-user-cover.jpg\')'">
                <div class="user-names">
                  <div class="user-display-name">{{userService.selectedUser.firstName}} {{userService.selectedUser.lastName}}</div>
                  <div class="user-display-username">{{userService.selectedUser.username}}</div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="user-header-menu d-flex justify-content-end">
                <ul class="d-flex align-items-start">
                  <li><svg><use xlink:href="#chat-icon"></use></svg>Chat</li>
                  <li><svg><use xlink:href="#options-icon"></use></svg>
                    Options
                    <!--<ul class="user-header-menu-options-items bottom-shadow">-->
                      <!--<li *ngIf="authenticationService.role == 'administrator'" class="user-header-menu-options-item">User Access</li>-->
                    <!--</ul>-->
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="user-header-profile-image-container bottom-shadow">
            <div class="user-header-profile-image" style="background: #ECEFF1 url('/assets/images/default-user-profile.jpg') center bottom no-repeat; background-size: cover;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="row">
          <div class="col-12">
            <div class="tile bottom-shadow">
              <div class="square-content-value full-width">
                <div class="square-container">
                  <div class="square">
                    <div class="user-level-container">
                      <div class="circle-inner d-flex align-items-center bottom-shadow">
                        <div class="user-level-inner">
                          <svg><use xlink:href="#coders-cup-icon"></use></svg>
                          <div class="user-level text-align-center">{{this.countLevel | number : '1.2-2'}}</div>
                          <div class="user-level-title">User Level</div>
                        </div>
                      </div>
                      <div class="circle">
                        <div class="second-half-container">
                          <div class="mask-second-half animate-rotation r{{calcRotationSecondHalf() | number: '1.0-0'}}"></div>
                          <div class="fill fill-second-half"></div>
                        </div>
                        <div class="first-half-container">
                          <div class="mask-first-half animate-rotation r{{calcRotationFirstHalf() | number: '1.0-0'}}"></div>
                          <div class="fill fill-first-half"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="tile bottom-shadow">
              <div class="tile-title">
                <h4 class="text-color-medium-dark">User Information:</h4>
                <p class="text-weight-thin text-color-medium">{{userService.selectedUser.firstName}}'s details:</p>
                <div class="edit-icon" *ngIf="authenticationService.id === userService.selectedUser.id || authenticationService.role === 'staff' || authenticationService.role === 'administrator'" (click)="navService.editUserInformationSliderToggled = true"><svg><use xlink:href="#edit-icon"></use></svg></div>
              </div>
              <div class="tile-body">
                <app-element-user-information [user]="userService.selectedUser"></app-element-user-information>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-8 col-xl-9">
        <div class="row">
          <div class="col-12" *ngIf="userService.selectedUser.role === 'student'">
            <div class="tile bottom-shadow">
              <div class="tile-title">
                <h4 class="text-color-medium-dark">User Milestones:</h4>
                <p class="text-weight-thin text-color-medium">{{userService.selectedUser.firstName}}'s milestone progress:</p>
              </div>
              <div class="tile-body no-padding">
                <div class="row">
                  <div class="col">
                    <app-element-milestones></app-element-milestones>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="userService.selectedUser.role === 'student'">
            <div class="tile bottom-shadow">
              <div class="tile-title">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <h4 class="text-color-medium-dark">Project Modules:</h4>
                    <p class="text-weight-thin text-color-medium">{{userService.selectedUser.username}}'s module & project validation:</p>
                  </div>
                </div>
              </div>
              <div class="tile-body no-padding">
                <div class="row">
                  <div class="col">
                    <app-element-student-modules></app-element-student-modules>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="userService.selectedUser.role === 'bootcamper'">
            <div class="tile bottom-shadow">
              <div class="tile-title">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <h4 class="text-color-medium-dark">Bootcamp Projects:</h4>
                    <p class="text-weight-thin text-color-medium">{{userService.selectedUser.firstName}}'s C Bootcamp projects:</p>
                  </div>

                </div>
              </div>
              <div class="tile-body no-padding">
                <div class="row">
                  <div class="col">
                    <app-element-bootcamper-projects [bootcamper]="userService.selectedUser"></app-element-bootcamper-projects>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="(userService.selectedUser.role === 'student' || userService.selectedUser.role === 'bootcamper') && (authenticationService.role === 'staff' || authenticationService.role == 'administrator')">
            <div class="tile bottom-shadow">
              <div class="tile-title">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <h4 class="text-color-medium-dark">Attendance Over Time:</h4>
                    <p class="text-weight-thin text-color-medium">Track {{userService.selectedUser.firstName}}'s attendance for the past 4 months:</p>
                  </div>
                </div>
              </div>
              <div class="tile-body">
                <div class="row">
                  <div class="col">
                    <app-element-student-performance-attendance [student]="userService.selectedUser"></app-element-student-performance-attendance>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="tile">
              <div class="tile-title">
                <div class="edit-icon" (click)="navService.notesSliderToggled = true"><svg><use xlink:href="#add-icon"></use></svg></div>
                <h4 class="text-color-medium-dark">Notes:</h4>
                <p class="text-weight-thin text-color-medium" *ngIf="authenticationService.role === 'staff'">Staff notes about {{userService.selectedUser.firstName}}:</p>
                <p class="text-weight-thin text-color-medium" *ngIf="authenticationService.role === 'administrator'">All notes about {{userService.selectedUser.firstName}}:</p>
                <p class="text-weight-thin text-color-medium" *ngIf="authenticationService.role !== 'staff' && authenticationService.role !== 'administrator'">Your notes about {{userService.selectedUser.firstName}}:</p>
              </div>
              <div class="tile-body no-padding">
                <div class="row">
                  <div class="col">
                    <app-element-user-notes [user]="userService.selectedUser"></app-element-user-notes>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="component-failure-container d-flex align-items-center justify-content-center" [class.active]="componentFailure">
    <app-element-component-failure [reasonSubject]="resultMessage"></app-element-component-failure>
  </div>
</div>
