@import "../../../../config";

.user-header {
  width: 100%;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
}

.user-level-container {
  $circle-background: #d6dadc;
  $circle-color: #019cd1;

  width: calc(100% - 80px);
  height: calc(100% - 80px);
  margin: 40px 40px 0 40px;
  background-color: $circle-background;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  .user-level-inner {
    text-align: center;
    width: 100%;
    fill: #F4F7F9;

    .user-level-title {
      line-height: 0.3em;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
      font-weight: 100;
      color: #b0bec5;
      position: relative;
      z-index: 2;
    }

    svg {
      position: absolute;
      top: calc(50% - 75px);
      left: calc(50% - 75px);
      width: 150px;
      height: 150px;
    }

    .user-level{
      position: relative;
      z-index: 2;
      font-size: 3em;
      font-family: 'Roboto', sans-serif;
      color: #016c90;
    }
  }

  .circle-inner {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: #fff;
    text-align: center;
  }

  .circle {
    width: 100%;
    height: 100%;
    position: relative;

    .fill {
      position: absolute;
      top: 0;
      left: 0;
      background: $circle-color;
      width: 100%;
      height: 100%;
    }

    .first-half-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 50% 0 , 50% 100%, 0% 100%);
    }

    .second-half-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(50% 0, 100% 0 , 100% 100%, 50% 100%);
    }

    .fill-first-half {
      clip-path: polygon(0 0, 50% 0 , 50% 100%, 0% 100%);
    }

    .fill-second-half {
      clip-path: polygon(50% 0, 100% 0 , 100% 100%, 50% 100%);

    }

    .mask-first-half {
      position: absolute;
      z-index: 2;
      top: -10px;
      left: -10px;
      clip-path: polygon(0 0, 50% 0 , 50% 100%, 0% 100%);
      background: $circle-background;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      transition-delay: 0.4s;
    }


    .mask-second-half {
      position: absolute;
      z-index:1;
      top: -10px;
      left: -10px;
      clip-path: polygon(50% 0, 100% 0 , 100% 100%, 50% 100%);
      background: $circle-background;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
    }
  }
}

.user-header-profile-image-container {
  width: 180px;
  height: 180px;
  padding: 8px;
  background: #fff;
  border: 1px solid #F4F7F9;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.user-header-profile-image {
  width: 100%;
  height: 100%;

}

.user-header-cover {
  min-height: 300px;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  position: relative;
}

.user-header-menu {
  ul {
    padding: 0;
    margin: 0;
    list-style : none;

    li {
      margin: 0 !important;
      position: relative;
      border-left: 1px solid #E4E9ED;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      text-align: center;
      padding: 15px 20px;
      color: #B0BEC5;
      @include transition(all, 0.2s);
      cursor: pointer;

      svg {
        margin-bottom: -5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        fill: #B0BEC5
      }

      &:hover {
        background: #01575F;
        color: #fff;

        svg {
          fill: #fff;
        }
      }
    }
  }

  .user-header-menu-options-items {
    border: 1px solid #F4F7F9;
    position: absolute;
    z-index: 30;
    bottom: -60px;
    right: 0;
    width: 100vw;
    max-width: 300px;
    background: #fff;

    .user-header-menu-options-item {
      border: 0;
      text-align: left;

      &:hover {
        background:  #F4F7F9;
        color: #016c90;
      }
    }
  }
}

.user-names {
  position: absolute;
  bottom: 30px;
  left: 240px;
}

.user-display-name {
  font-size: 1.3em;
  color: #546E7A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700
}

.user-display-username {
  font-family: 'Open Sans', sans-serif;
  color: #016c90;
  font-weight: 200;
  font-size: 1.1em;
}


