<div class="upload-container" (click)="fileUpload?.click()">
  <div class="upload-loading" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
    <div class="upload-loading-status">{{loadingStatus}}</div>
  </div>
  <div class="upload">
    <input #fileUpload type="file" hidden (change)="uploadCSV($event); success = false; failure = false;">
    <div *ngIf="!loading">
      <svg *ngIf="!success && !failure"><use xlink:href="#upload-icon"></use></svg>
      <svg *ngIf="success"><use xlink:href="#success-icon"></use></svg>
      <svg *ngIf="failure"><use xlink:href="#failure-icon"></use></svg>
      <div class="upload-text" *ngIf="!success && !failure">{{title ? title : 'Click to upload'}}</div>
      <div class="upload-text" *ngIf="success">Great, click to add some more.</div>
      <div class="upload-text" *ngIf="failure">Why not try again?</div>
      <div class="upload-subtext">Allowed file types: '.CSV'</div>
      <table class="upload-result" *ngIf="success">
        <tr>
          <td class="text-color-success">New records: {{resultNew}}</td>
          <td class="text-color-success">Updated records: {{resultUpdated}}</td>
          <td class="text-color-failure">Rejected records: {{resultRejected}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
