@import '../../../../config';

.dashboard-nav-container {
  width: 100%;
  height: 100px;
  background: #fff;
  position: relative;
  z-index: 99;
  display: table;
  table-layout:fixed;
  border-collapse: collapse;
  overflow: hidden;
  @include transition(all, 0.3s);

  &.sticky {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
  }

  &.not-sticky {
    z-index: 100;
    position: fixed;
    top: -100px;
    left:0;
  }
}

.dashboard-nav-logo {
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  width: 100px;
  height: 94px;
  padding: 18px;
  margin: 0;
  background: #019cd1;
}

.dashboard-nav-logo svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.dashboard-nav-actions {
  vertical-align: top;
  display: table-cell;
  height: 100px;
  margin: 0;
  padding: 20px 10px;
}

.dashboard-nav-mobile-spacer {
  display:table-cell;
  margin: 0;
  padding: 0;
  height: 100px;
}

.dashboard-nav-search-input {
  border-bottom: none;
  font-size: 2.4em;
  color: #607D8B;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 0;
  padding: 20px 30px;
  background: none !important;
  border: 0;
}

.dashboard-nav-search-input::placeholder {
  color: #B0BEC5;
}

.dashboard-nav-search {
  vertical-align: top;
  height: 100px;
  margin: 0;
  padding: 0;
  display: table-cell;
}

.dashboard-nav-actions {
  width: 150px;

  .sign-out-btn {
    display: inline-block;
    width: 45px;
    height: 45px;
    cursor: pointer;

    &:hover {
      svg {
        fill: #016588;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      margin-bottom: -10px;
      fill: #b0bec5;
      @include transition(all, 0.3s);
    }
  }
}

.dashboard-nav-actions .hamburger-box {
  transform: scale(0.9);
  display: inline-block;
}

.dashboard-nav-actions .hamburger-inner,
.dashboard-nav-actions .hamburger-inner:before,
.dashboard-nav-actions .hamburger-inner:after{
  background: #B0BEC5;
}

.dashboard-nav-search-autocomplete-container {
  background: #212E33;
  z-index: 1;
  position: absolute;
  display: table;
  top: -100%;
  width: 100%;
  @include transition(all, 0.5s);

  &.sticky {
    position: fixed;
    top: 0;
  }

  &.active {
    top: 100px;
  }
}

.dashboard-nav-search-autocomplete {
  display:table-cell;
}

.dashboard-nav-search-autocomplete-space {
  display:table-cell;
  width: 100px;
}

.dashboard-nav-search-autocomplete-suggestion {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.8em;
  padding: 20px;
  color: #B0BEC5;
  outline: none;
  width: 100%;
  cursor: pointer;
  @include transition(all, 0.3s);

  &:hover {
    color: #fff;
    background: #37474F;
  }
}
