<div class="dashboard-nav-container bottom-shadow" [ngClass]="{sticky: navService.isDashboardNavSticky, 'not-sticky': !navService.isDashboardNavSticky}" (blur)="navService.searchFocused = false">
  <div class="dashboard-nav-logo">
    <a [routerLink]="['/']">
      <svg><use xlink:href="#wethinkcode-logo"></use></svg>
    </a>
  </div>
  <div class="d-block dashboard-nav-mobile-spacer d-lg-none"></div>
  <div class="d-none dashboard-nav-search d-lg-block">
    <input class="dashboard-nav-search-input" name="search" placeholder="Search..." [(ngModel)]="navService.searchInput" (focus)="navService.searchFocused = true" autocomplete="off">
  </div>
  <div class="dashboard-nav-actions">
    <button (click)="toggleMenu()" [ngClass]="{'is-active': navService.dashboardMenuToggled}" class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
</div>
<div class="dashboard-nav-search-autocomplete-container bottom-shadow" [class.active]="navService.searchFocused && navService.searchInput"  (focus)="navService.searchFocused = true">
  <div class="d-none dashboard-nav-search-autocomplete-space d-lg-block"></div>
  <div class="dashboard-nav-search-autocomplete">
    <div class="dashboard-nav-search-autocomplete-suggestion" (click)="navService.searchFocused = false" [routerLink]="['/dashboard/users']" [queryParams]="{search: navService.searchInput}">Find users matching: "{{navService.searchInput}}"</div>
  </div>
</div>
<div class="dashboard-nav-container bottom-shadow" (blur)="navService.searchFocused = false">
  <div class="dashboard-nav-logo">
    <svg><use xlink:href="#wethinkcode-logo"></use></svg>
  </div>
  <div class="d-block dashboard-nav-mobile-spacer d-lg-none"></div>
  <div class="dashboard-nav-search d-none d-lg-block">
    <input class="dashboard-nav-search-input" name="search" placeholder="Search..." [(ngModel)]="navService.searchInput" (focus)="navService.searchFocused = true" autocomplete="off">
  </div>
  <div class="dashboard-nav-actions">
    <button (click)="toggleMenu()" [ngClass]="{'is-active': navService.dashboardMenuToggled}" class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="sign-out-btn" (click)="authenticationService.invalidateUser(); navService.dashboardLoading.next(true); navService.dashboardStatus = 'Signing you out...'">
      <svg><use xlink:href="#signout-icon"></use></svg>
    </div>
  </div>
</div>
<div class="dashboard-nav-search-autocomplete-container bottom-shadow" [ngClass]="{active: navService.searchFocused && navService.searchInput, sticky: navService.isDashboardNavSticky}"  (focus)="navService.searchFocused = true">
  <div class="dashboard-nav-search-autocomplete-space d-none d-lg-block"></div>
  <div class="dashboard-nav-search-autocomplete">
    <div class="dashboard-nav-search-autocomplete-suggestion" (click)="navService.searchFocused = false" [routerLink]="['/dashboard/users']" [queryParams]="{search: navService.searchInput}">Find users matching: "{{navService.searchInput}}"</div>
  </div>
</div>
<app-element-menu-dashboard></app-element-menu-dashboard>
