<div [class.active]="navService.isNewUserSliderToggled" class="new-user-slider-container slide-out-container left-shadow">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="navService.isNewUserSliderToggled = false">
      <svg><use xlink:href="#cross-icon"></use></svg>    </div>
    <div class="slide-out-title">
      New User
    </div>
  </div>
  <div class="slide-out-body">
    <form *ngIf="!loading && !success && !failure">
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>General Information</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="name" placeholder="First name" [(ngModel)]="user.firstName" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0001'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <input name="surname" placeholder="Last name" [(ngModel)]="user.lastName" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0002'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <input name="username" placeholder="Username" [(ngModel)]="user.username" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0003'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <input name="email" type="email" placeholder="Email address" [(ngModel)]="user.email" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0004' || error?.code === 'C0005'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <select name="role" [(ngModel)]="user.role">
                  <option value="" selected disabled>Select a user role</option>
                  <option value="applicant">Applicant</option>
                  <option value="bootcamper">Bootcamper</option>
                  <option value="student">Student</option>
                  <option value="sponsor">Corporate Sponsor</option>
                  <option value="staff">Staff</option>
                  <option value="administrator">Administrator</option>
                </select>
                <div class="input-error" *ngIf="error?.code === 'C0006'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>User access</div>
      <div class="tile-form-body" (click)="clearError()">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="tile-form-error" *ngIf="error?.code === 'C0007'">{{error?.message}}</div>
            </div>
          </div>
          <div class="row">
            <ng-template ngFor let-tool [ngForOf]="tools">
              <div class="col-12">
                <div class="tile-item-selector-container" [class.active]="tool.selected" (click)="clickHookTools(tool)">
                  <div class="row">
                    <div class="col-12 col-lg-2">
                      <div class="tile-item-selector-icon">
                        <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                      </div>
                    </div>
                    <div class="col-12 col-lg-10">
                      <div class="tile-item-selector-title">
                        {{tool?.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="success">{{resultMessage}}</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="failure">{{resultMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure && !loading" (click)="submitNewUser()">Save</div>
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="closeForm()">Cancel</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="closeForm()">Cancel</div>
          <div class="button button-grey-outline" *ngIf="success" (click)="clearForm()">Add another user</div>
          <div class="button button-grey-outline" *ngIf="failure" (click)="failure = false; success = false;">Try again</div>
        </div>
      </div>
    </div>
  </div>
</div>
