<div class="student-performance-attendance-container" [class.active]="!loading">
  <canvas
    baseChart
    [colors]="studentAttendanceData.chartColors"
    [chartType]="'line'"
    [datasets]="studentAttendanceData.chartData"
    [labels]="studentAttendanceData.chartLabels"
    [options]="studentAttendanceData.chartOptions"
    [legend]="false">
  </canvas>
</div>
<div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
  <div class="loading-items-text">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
</div>
