.projects {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  .project {
    width: 100%;
    display: table;
    padding: 15px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    cursor: pointer;
    color: #B0BEC5;
    border-bottom: 1px solid #E4E9ED;

    &:hover {
      background: #FBFCFD;
    }

    .project-title {
      display: table;
    }

    .project-grade {
      text-align: center;
      border-radius: 5px;
      width: 150px;
      border: 1px solid #ECEFF1;
      display: table-cell;
      color: #b0bec5;

      &.validated {
        background: #DCEDC8;
        color: #8BC34A;
        border:  1px solid #8BC34A;
      }
    }
  }
}
