<div class="projects-container">
  <ul class="projects" *ngIf="projects.length">
    <ng-template ngFor let-project [ngForOf]="projects">
      <li class="project">
        <div class="project-title">
          {{project.title}}
        </div>
        <div class="project-grade" [ngClass]="{validated: project.finalGrade >= project.validationGrade}">
          {{project.finalGrade}}
        </div>
      </li>
    </ng-template>
  </ul>
  <div class="tile-no-records-container" *ngIf="!projects.length">
    <div class="tile-no-records text-align-center">
      <div class="add-record-icon"><svg><use xlink:href="#failure-icon"></use></svg></div>
      <div class="message">{{bootcamper.firstName}} has not subscribed to any projects.</div>
    </div>
  </div>
  <div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="loading-items-text">
      <div class="secondary-loading-container">
        <div class="secondary-loading"></div>
      </div>
    </div>
  </div>
</div>
