@import "../../../../config";

.student-performance-container {
  width: 100%;
  background: #fff;
  padding-bottom: 15px;
}

.student-performance-options {
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #E4E9ED;
}

.student-performance-table {
  width: 100%;

  thead {
    tr {
      background: #fff;
      border-bottom: 2px solid #F4F7F9;

      td {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color:#90A4AE;
        padding: 15px 5px;
      }

      td:nth-child(6),
      td:nth-child(5) {
        text-align: center;
      }
    }
  }
}

.student-performance-table-row {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid #F4F7F9;
  @include transition(all, 0.2s);

  &:hover {
    background: #F4F7F9;
  }

  td {
    outline: none;
    color:#90A4AE;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 8px 5px;
  }

  td:first-child {
    width: 70px;
  }

  td:nth-child(5) {
    white-space: nowrap;
    width: 100px;
  }

  td:nth-child(6) {
    text-align: center;
    padding: 0 30px;
    white-space: nowrap;
    width: 310px;
  }
}

.student-performance-table-row:nth-child(even) {
}

.student-performance-table-profile-image {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
  }
}

.student-performance-table-attendance,
.student-performance-table-milestone {
  padding: 8px 0;
  background: #F4F7F9;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #E4E9ED;
  @include transition(all, 0.2s);

  &:hover {
    background: #B0BEC5;
    border: 1px solid #B0BEC5;
    color: #fff;

    svg {
      fill: #fff;
    }
  }

  svg {
    fill: #B0BEC5;
    width: 100%;
    height: 100%;
    @include transition(all, 0.2s);
  }

  &.good {
    background: #DCEDC8;
    border: 1px solid #8BC34A;
    color: #8BC34A;

    .student-performance-table-milestone-number {
      background: #8BC34A;
    }

    &:hover {
      color: #fff;
      background: #8BC34A;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: #8BC34A;
    }
  }

  &.bad {
    color: #f44336;
    border: 1px solid #f44336;
    background: #ffcdd2;

    .student-performance-table-milestone-number {
      background: #f44336;
    }

    &:hover {
      fill: #fff;
      color: #fff;
      background: #f44336;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: #f44336;
    }
  }
}

.student-performance-table-milestone {
  padding: 5px;
  position: relative;
  display: inline-block;
  margin-right:5px;

  .student-performance-table-milestone-number {
    position: absolute;
    width: 18px;
    height: 18px;
    background:#B0BEC5;
    bottom: -9px;
    padding: 2px;
    border-radius: 50%;
    font-size: 0.7em;
    color: #fff;
    right: -9px;
  }
}

.student-performance-slider {
  height: 0;
  overflow: hidden;
  padding: 30px;
  width: 100px;
  @include transition(all, 0.4s);

  td {
    border-collapse: collapse;
    padding:0px !important;
    margin: 0;
    vertical-align:top;
  }

  &.active {
    box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.3);
    background: #FBFCFD;
    height: 300px;
  }
}

.student-performance-student-container {
  padding: 30px;
  display: none;
  width:100%;

  &.active {
    display:block;
  }
}
