<div class="sub-page-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">Student Performance</h4>
        <div class="space-20"></div>
      </div>
      <div class="col-12 d-none col-md-6 d-lg-block" *ngIf="!cohortService.cohorts.length">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" *ngIf="!componentFailure" (click)="navService.isNewCohortSliderToggled = true">
            Add Cohort
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!cohortService.cohorts.length && !componentFailure && !loading">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button" (click)="navService.isNewCohortSliderToggled = true">
            <svg><use xlink:href="#add-icon"></use></svg>
          </div>
          <div class="message">There are currently no cohorts. Click the button above to add one.</div>
        </div>
      </div>
    </div>
    <div class="curriculum-table-container tile-table-container" *ngIf="cohortService.cohorts.length">
      <table class="tile-table">
        <thead>
        <tr>
          <td>
            Cohort Title
          </td>
          <td width="150" align="center">
            Start Date
          </td>
          <td width="150" align="center">
            Campus
          </td>
          <td width="150" align="center">
            Number of students
          </td>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-cohort [ngForOf]="cohortService.cohorts">
          <tr>
            <td><a routerLink="/dashboard/student-performance/{{cohort.slug}}">{{cohort.title}}</a> </td>
            <td align="center">{{cohort.startDate.getDate()}} {{months[cohort.startDate.getMonth()]}} {{cohort.startDate.getFullYear()}}</td>
            <td align="center">{{cohort.campus?.title}}</td>
            <td align="center">{{cohort.studentCount}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>

