.student-module-items {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;

  .student-module-item {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #B0BEC5;
    display: none;
    border-bottom: 1px solid #E4E9ED;

    &.active {
      display: block;
    }

    .student-module-projects-items {
      box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.3);
      background: #FBFCFD;
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;

      &.active {
        display: block;
      }

      .student-module-projects-item {
        width: 100%;
        padding: 15px 30px 15px 60px;
        border-bottom: 1px solid #E4E9ED;
        display:table;

        .student-module-projects-item-title,
        .student-module-projects-item-validation {
          display: table-cell;
        }

        .student-module-projects-item-validation {
          width: 40px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #B0BEC5;
          text-align: center;

          &.validated {
            color: #8BC34A;
            border-color: #8BC34A;
          }

          &.not_validated {
            color: #f44336;
            border-color: #f44336;
          }

          &.not_completed {
            color: #3F51B5;
            border-color: #3F51B5;
          }
        }
      }
    }

    .student-module-item-container {
      display: table;
      width: 100%;
      padding: 15px 30px;
      cursor: pointer;

      &:hover {
        background: #F4F7F9;
        color: #90A4AE;
      }

      .student-module-item-title,
      .student-module-item-validation{
        display: table-cell;
      }

      .student-module-item-title {
      }

      .student-module-item-validation {
        text-align: center;
        border-radius: 5px;
        width: 150px;


        &.validated {
          color: #8BC34A;
          border: 1px solid #8BC34A;
        }

        &.not_validated {
          color: #f44336;
          border: 1px solid #f44336;
        }
      }
    }
  }
}
