<div class="student-modules-container">
  <ul class="student-module-items">
    <ng-template ngFor let-module [ngForOf]="userService.selectedUser.modules">
    <li class="student-module-item" [class.active]="module.projects?.length !== 0">
      <div class="student-module-item-container" (click)="getProjects(module); module.isActive === true ? module.isActive = false : module.isActive = true">
        <div class="student-module-item-title">{{module.title}}</div>
        <div class="student-module-item-validation validated" *ngIf="module.isValidated">Validated</div>
        <div class="student-module-item-validation not_validated" *ngIf="!module.isValidated">Not Validated</div>
      </div>
      <ul class="student-module-projects-items" [class.active]="module.isActive && !module.projectsLoading">
        <li class="student-module-projects-item" *ngFor="let project of module?.projects">
          <div class="student-module-projects-item-title">{{project.title}}</div>
          <div class="student-module-projects-item-validation" *ngIf="project.finalGrade !== null && project.finalGrade !== undefined" [ngClass]="{validated: project.finalGrade >= project.validationGrade, not_validated: project.finalGrade < project.validationGrade}">{{project.finalGrade}}</div>
          <div class="student-module-projects-item-validation not_completed" *ngIf="project.finalGrade === null || project.finalGrade === undefined">Incomplete</div>
        </li>
      </ul>
      <div class="loading-items text-align-center d-flex align-items-center" *ngIf="module.projectsLoading">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </li>
    </ng-template>
  </ul>
  <div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="loading-items-text">
      <div class="secondary-loading-container">
        <div class="secondary-loading"></div>
      </div>
    </div>
  </div>
</div>
