.user-information-container {
  color: #B0BEC5;
  font-family: 'Open Sans', sans-serif;

  .user-information-title {
    color: #90A4AE;
  }

  .user-information-value {
    font-weight: 100;
    word-wrap: break-word;
  }
}
