<div class="user-information-container">

  <div class="row" *ngIf="user.preferredName">
    <div class="col-6"><div class="user-information-title">Preferred Name:</div></div>
    <div class="col-6"><div class="user-information-value">{{user.preferredName}}</div></div>
  </div>
  <div class="row" *ngIf="user.email">
    <div class="col-6"><div class="user-information-title">Email:</div></div>
    <div class="col-6"><div class="user-information-value">{{user.email}}</div></div>
  </div>
  <div class="row" *ngIf="user.phone">
    <div class="col-6"><div class="user-information-title">Phone:</div></div>
    <div class="col-6"><div class="user-information-value">{{user.phone}}</div></div>
  </div>
  <div class="row" *ngIf="user.birthCity">
    <div class="col-6"><div class="user-information-title">Birth City:</div></div>
      <div class="col-6"><div class="user-information-value">{{user.birthCity}}</div></div>
  </div>
  <div class="row" *ngIf="user.birthCountry">
    <div class="col-6"><div class="user-information-title">Birth Country:</div></div>
    <div class="col-6"><div class="user-information-value">{{user.birthCountry}}</div></div>
  </div>
  <div class="row" *ngIf="user.birthDate">
    <div class="col-6"><div class="user-information-title">Birth Date:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.dateToText(this.user.birthDate)}}</div></div>
  </div>
  <div class="row" *ngIf="user.campus">
    <div class="col-6"><div class="user-information-title">Campus:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.campus}}</div></div>
  </div>
  <div class="row" *ngIf="user.citizenshipCountry">
    <div class="col-6"><div class="user-information-title">Citizenship:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.citizenshipCountry}}</div></div>
  </div>
  <div class="row" *ngIf="user.country">
    <div class="col-6"><div class="user-information-title">Current Country:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.country}}</div></div>
  </div>
  <div class="row" *ngIf="user.education">
    <div class="col-6"><div class="user-information-title">Education:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.education}}</div></div>
  </div>
  <div class="row" *ngIf="user.ethnicity">
    <div class="col-6"><div class="user-information-title">Ethnicity:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.ethnicity}}</div></div>
  </div>
  <div class="row" *ngIf="user.gender">
    <div class="col-6"><div class="user-information-title">Gender:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.gender}}</div></div>
  </div>
  <div class="row" *ngIf="user.highSchool">
    <div class="col-6"><div class="user-information-title">High School:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.highSchool}}</div></div>
  </div>
  <div class="row" *ngIf="user.homeLanguage">
    <div class="col-6"><div class="user-information-title">Home Language:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.homeLanguage}}</div></div>
  </div>
  <div class="row" *ngIf="user.homeProvince">
    <div class="col-6"><div class="user-information-title">Home Province:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.homeProvince}}</div></div>
  </div>
  <div class="row" *ngIf="user.homeTown">
    <div class="col-6"><div class="user-information-title">Home Town:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.homeTown}}</div></div>
  </div>
  <div class="row" *ngIf="user.idNumber">
    <div class="col-6"><div class="user-information-title">ID/Passport Number:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.idNumber}}</div></div>
  </div>
  <div class="row" *ngIf="user.maritalStatus">
    <div class="col-6"><div class="user-information-title">Marital status:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.maritalStatus}}</div></div>
  </div>
  <div class="row" *ngIf="user.phone">
    <div class="col-6"><div class="user-information-title">Phone:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.phone}}</div></div>
  </div>
  <div class="row" *ngIf="user.postalStreet">
    <div class="col-6"><div class="user-information-title">Address:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.postalStreet}}</div></div>
  </div>
  <div class="row" *ngIf="user.zipCode">
    <div class="col-6"><div class="user-information-title">Zip Code:</div></div>
    <div class="col-6"><div class="user-information-value">{{this.user.zipCode}}</div></div>
  </div>
</div>
