.user-notes-table {
  table-layout: fixed;
  width: 100%;

  td {
    vertical-align: top;
  }

  .user-notes-table-poster-profile {
    width: 80px;
    padding: 5px 0;
    text-align: center;
  }

  .user-notes-table-poster-column {
    width: 200px;
  }

  .user-notes-table-poster-options {
    width: 40px;
  }
}

.user-notes-poster-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.user-notes-container {
  width: 100%;
  position: relative;
  padding: 30px;
  color: #B0BEC5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.no-notes {
  width:100%;
  text-align: center;
}

.add-note-icon {
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  padding: 15px;
  border: 1px solid #B0BEC5;

  svg {
    width: 100%;
    height: 100%;
    fill: #B0BEC5;
  }

  &:hover {
    background : #B0BEC5;

     svg {
       fill: #fff;
     }
  }
}

.notes-loading-container {
  height: 100%;
  width: 100%;
}
