<div class="user-notes-container">
  <div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="loading-items-text">
      <div class="secondary-loading-container">
        <div class="secondary-loading"></div>
      </div>
    </div>
  </div>
  <table class="user-notes-table tile-table" *ngIf="!loading && notesService.notes?.length">
    <thead>
    <tr>
      <td class="user-notes-table-poster-profile"></td>
      <td class="user-notes-table-poster-column">Poster</td>
      <td>Note</td>
      <td class="user-notes-table-poster-column">Priority</td>
      <td class="user-notes-table-poster-column">Time</td>
      <td class="user-notes-table-poster-options"></td>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-note let-i=index [ngForOf]="notesService.notes">
      <tr>
        <td class="text-align-center">
          <div class="user-notes-poster-profile-image">
            <img *ngIf="note.noteTakingUser.profileImage" src="{{note.noteTakingUser.profileImage}}">
            <img *ngIf="!note.noteTakingUser.profileImage" src="/assets/images/default-user-profile.jpg">
          </div>
        </td>
        <td>{{note.noteTakingUser?.firstName}} {{note.noteTakingUser?.lastName}}</td>
        <td>{{note.content}}</td>
        <td>{{note.priority}}</td>
        <td>{{note.tsl}}</td>
        <td><div class="edit-icon"><svg><use xlink:href="#edit-icon"></use></svg></div></td>
      </tr>
    </ng-template>
    </tbody>
  </table>
  <div class="no-notes-container" *ngIf="!notesService.notes.length && !loading">
    <div class="no-notes text-align-center">
      <div class="add-note-icon" (click)="navService.notesSliderToggled = true">
        <svg><use xlink:href="#add-icon"></use></svg>
      </div>
      <div class="message">There are currently no notes about {{user.firstName}}. Click the button above to add a note</div>
    </div>
  </div>
</div>
