.nav-container {
  width: 100%;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99
}

.hamburger {
  margin: 20px 0;
}

.nav-logo{
  padding: 15px;
  width: 100px;
  height: 100px;
  fill: #019cd1;
}

.nav-logo svg {
  width: 100%;
  height: 100%;
}
