<app-element-menu></app-element-menu>
<div class="nav-container bottom-shadow">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="nav-items-container d-flex justify-content-between">
          <a (click)="toggleMenu()" routerLinkActive="active" routerLink="/"><div class="nav-logo"><svg><use xlink:href="#wethinkcode-logo"></use></svg></div></a>
          <div class="nav-menu">
            <button (click)="toggleMenu()" [ngClass]="{'is-active': navService.menuToggled}" class="hamburger hamburger--elastic" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
