@import "../../../../config";

.date-picker-container {
  position: relative;
  width: 100%;

  .date-picker-button {
    padding: 10px;
    cursor: pointer;
    color: #90A4AE;
    border: 1px solid #E4E9ED;
    font-weight: 100;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    background: #F4F7F9;
  }

  .date-container {
    display: none;
    background: #fff;
    border: 1px solid #ECEFF1;
    color: #B0BEC5;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    width: 100%;

    &.active {
      display: block;
    }

    .date-title {
      font-weight: 100;
      background: #263238;
      color: #90A4AE;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
      width: 100%;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #F4F7F9;
      position: relative;

      .month-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        cursor: pointer;

        &.next {
          right: 10px;
        }

        svg {
          width: 100%;
          height: 100%;
          fill: #90A4AE;
        }
      }
    }

    table {
      width: 100%;

      thead {
        border-bottom: 1px solid #F4F7F9;
      }

      tr {
        text-align: center;

        td{
          padding: 5px;
          @include transition(all, 0.3s);
          cursor: pointer;

          &.active {
            background: #F4F7F9;

            &:hover {
              background: #B0BEC5;
              color: #093e53;
            }
          }

          &.selected {
            background: #016c90;
            color: #fff;

            &:hover {
              color: #90A4AE;
              background: #263238;
            }
          }

          &:hover {
            background: #ECEFF1;
            color: #016c90;
          }
        }
      }
    }

    .time-container {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid #ECEFF1;
      margin: 15px 30px;
      font-size: 3em;
      width: calc(100% - 60px);
      display:table;
      height: 100px;
      text-align: center;

      .time {
        display: table-cell;
        padding: 20px;
        height: 100%;
      }

      .time-save {
        display: table-cell;
        width: 50px;
        height: 100%;
        background: #ECEFF1;
        padding: 10px;
        @include transition(all, 0.3s);
        cursor: pointer;

        &.active {
          background: #016c90;

          &:hover {
            background: #093e53;
          }
        }

        svg {
          fill: #fff;
          width: 35px;
          height: 35px;
        }

        &:hover {
          background: #B0BEC5;
        }
      }

      .time-value {
        display: inline-block;
        position: relative;
        height: 50px;
        max-width: 60px;

        .time-icon {
          height: 40px;
          width: 100%;
          cursor: pointer;
          position: absolute;
          left: 0;

          svg {
            margin-top: -10px;
            height: 100%;
            width: 100%;
            fill: #90A4AE;
            @include transition(all, 0.3s);
          }

          &.up {
            top: -35px;
          }

          &.down {
            bottom: -35px;
          }

          &:hover svg {
              fill: #019cd1;
          }
        }
      }
    }
  }
}
