<div class="date-picker-container">
  <div class="date-picker-button" (click)="isActive = true">{{placeholder}}: {{this.dateString | async}}</div>
  <div class="date-container bottom-shadow" [class.active]="isActive">
    <div class="date-title">
      <div class="month-icon previous" (click)="alterMonth('prev')"><svg><use xlink:href="#prev-icon"></use></svg></div>
      <div class="month-icon next" (click)="alterMonth('next')"><svg><use xlink:href="#next-icon"></use></svg></div>
      {{getActiveMonth()}} {{activeDate.getFullYear()}}
    </div>
    <table>
      <thead>
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let week of dateTable">
        <td [class.selected]="day.selected" *ngFor="let day of week" [class.active]="day.isToday" (click)="setSelected(day.day)">
          {{day.day}}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="time-container">
      <div class="time">
        <div class="time-value hour">
          <div class="time-icon up" (click)=" activeDate.setHours(activeDate.getHours() + 1);" (mousedown)="alterHour(1)" (mouseup)="clearInterval()"><svg><use xlink:href="#up-icon"></use></svg></div>
          {{(activeDate.getHours()<10?'0':'') + activeDate.getHours()}}
          <div class="time-icon down" (click)=" activeDate.setHours(activeDate.getHours() - 1);" (mousedown)="alterHour(-1)" (mouseup)="clearInterval()"><svg><use xlink:href="#down-icon"></use></svg></div>
        </div>
        :
        <div class="time-value minute">
          <div class="time-icon up" (click)=" activeDate.setMinutes(activeDate.getMinutes() + 1);" (mousedown)="alterMinute(1)" (mouseup)="clearInterval()"><svg><use xlink:href="#up-icon"></use></svg></div>
          {{(activeDate.getMinutes()<10?'0':'') + activeDate.getMinutes()}}
          <div class="time-icon down" (click)=" activeDate.setMinutes(activeDate.getMinutes() - 1);" (mousedown)="alterMinute(-1)" (mouseup)="clearInterval()"><svg><use xlink:href="#down-icon"></use></svg></div>
        </div>
      </div>
      <div class="time-save" [class.active]="selectedDate" (click)="saveDate()"><svg><use xlink:href="#tick-icon"></use></svg></div>
    </div>
  </div>
</div>
