<div class="bootcamp-container sub-page-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading && !componentFailure">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="sub-page-title">{{bootcampService.selectedBootcamp?.title}}</h4>
        <div class="space-30"></div>
      </div>
      <div class="col-12 d-none col-md-6 d-lg-block" *ngIf="!loading && !componentFailure && currentStep === 4 && authenticationService.role === 'administrator'">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" (click)="navService.isManageStaffVotersSliderToggled = true">
            Manage Staff
          </div>
        </div>
      </div>
      <div class="col-12 d-none col-md-6 d-lg-block" *ngIf="!loading && !componentFailure && currentStep === 5 && authenticationService.role === 'administrator'">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" (click)="navService.isFinalizeBootcampSliderToggled = true; navService.isSequenceToggled = false">
            Finalize Bootcamp
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!componentFailure && !loading && currentStep === 0">
      <div class="col-12">
        <app-element-file-uploader [type]="'users'" [url]="'/bootcamps/' + bootcampService.selectedBootcamp?.id + '/users'" [title]="'Click to upload users'"></app-element-file-uploader>
        <div class="space-20"></div>
      </div>
    </div>
    <div class="row" *ngIf="!componentFailure && !loading && currentStep === 3">
      <div class="col-12">
        <app-element-file-uploader [type]="'votes'" [url]="'/bootcamps/' + bootcampService.selectedBootcamp?.id + '/votes'" [title]="'Click to upload user votes'"></app-element-file-uploader>
        <div class="space-20"></div>
      </div>
    </div>
    <div class="row" *ngIf="currentStep > 0">
      <div class="col-12">
        <div class="bootcamp-filter-container">
          <svg><use xlink:href="#search-icon"></use></svg>
          <input name="bootcamp-filter" placeholder="Filter bootcampers" [(ngModel)]="filterString" (keyup)="filterUsers()">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="currentStep === 0">
      <div class="col-12">
        <div class="tile bottom-shadow">
          <div class="tile-title text-color-medium-dark">
            <div class="row">
              <div class="d-none col-6 d-lg-block"><h4>Bootcamp Statistics</h4></div>
              <div class="d-none col-6 d-lg-block">
                <div class="full-width d-flex justify-content-end">
                  <div class="button" [class.active]="bootcampStatsFilter === 'all'" (click)="bootcampStatsFilter = 'all'; updateStats()">All</div>
                  <div class="button" [class.active]="bootcampStatsFilter === 'accepted'" (click)="bootcampStatsFilter = 'accepted'; updateStats()">Accepted</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="tile-main-stat-container">
                  <div class="square-container">
                    <div class="square d-flex align-content-between flex-wrap">
                      <div class="square-content-title full-width">Total number of</div>
                      <div class="square-content-value full-width">
                        <div class="square-content-value-large">{{users.length}}</div>
                        <div class="text-color-medium">Total active: <span class="text-weight-bold">{{totalActiveUsers}}</span> </div>
                      </div>
                      <div class="square-content-subtitle full-width">Bootcampers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-9">
                <div class="row">
                  <div class="col-6 col-lg-3"><div class="tile-stats-item">Males:</div></div>
                  <div class="col-6 col-lg-3"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((maleBootcampers / users.length) * 100) : acceptedBootcampers ? ((maleBootcampers / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                  <div class="col-6 col-lg-3"><div class="tile-stats-item">Females:</div></div>
                  <div class="col-6 col-lg-3"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((femaleBootcampers / users.length) * 100) :  acceptedBootcampers ? ((femaleBootcampers / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                  <div class="col-6 col-lg-3"><div class="tile-stats-item">South Africans:</div></div>
                  <div class="col-6 col-lg-3"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((citizenBootcampers / users.length) * 100) :  acceptedBootcampers ? ((citizenBootcampers / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                  <div class="col-6 col-lg-3"><div class="tile-stats-item">Non-South Africans:</div></div>
                  <div class="col-6 col-lg-3"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((nonCitizenBootcampers / users.length) * 100) :  acceptedBootcampers ? ((nonCitizenBootcampers / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                  <div class="col-6 col-lg-3"><div class="tile-stats-item">With coding experience:</div></div>
                  <div class="col-6 col-lg-3"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((experienceCoding / users.length) * 100) :  acceptedBootcampers ? ((experienceCoding / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                  <div class="col-6 col-lg-3"><div class="tile-stats-item">Without coding experience:</div></div>
                  <div class="col-6 col-lg-3"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((noExperienceCoding / users.length) * 100) :  acceptedBootcampers ? ((noExperienceCoding / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <div class="col-12"><div class="tile-stats-item">Education:</div></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">None:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((nonEducated / users.length) * 100) : acceptedBootcampers ? ((nonEducated / acceptedBootcampers) * 100) : 0)  | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Matric:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((educationMatric / users.length) * 100) : acceptedBootcampers ? ((educationMatric / acceptedBootcampers) * 100) : 0)  | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Diploma:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((educationDiploma / users.length) * 100) : acceptedBootcampers ? ((educationDiploma / acceptedBootcampers) * 100) : 0)  | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Degree:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((educationDegree / users.length) * 100) : acceptedBootcampers ? ((educationDegree / acceptedBootcampers) * 100) : 0)  | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Honours:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((educationHonors / users.length) * 100) : acceptedBootcampers ? ((educationHonors / acceptedBootcampers) * 100) : 0)  | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Masters:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((educationMasters / users.length) * 100) : acceptedBootcampers ? ((educationMasters / acceptedBootcampers) * 100) : 0)  | number:'1.0-0'}}%</span></div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <div class="col-12"><div class="tile-stats-item">Ethnicity:</div></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">African:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((ethnicityBlack / users.length) * 100) : acceptedBootcampers ? ((ethnicityBlack / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">White:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((ethnicityWhite / users.length) * 100) : acceptedBootcampers ? ((ethnicityWhite / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Indian</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((ethnicityIndian / users.length) * 100) : acceptedBootcampers ? ((ethnicityIndian / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Coloured:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((ethnicityColoured / users.length) * 100) : acceptedBootcampers ? ((ethnicityColoured / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Chinese:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((ethnicityChinese / users.length) * 100) : acceptedBootcampers ? ((ethnicityChinese / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                      <div class="col-6"><div class="tile-stats-item" style="text-indent:20px;">Other:</div></div>
                      <div class="col-6"><span class="text-weight-bold text-color-medium">{{(bootcampStatsFilter === 'all' ? ((ethnicityOther / users.length) * 100) : acceptedBootcampers ? ((ethnicityOther / acceptedBootcampers) * 100) : 0) | number:'1.0-0'}}%</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-lg-3">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of bootcampers</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{acceptedBootcampers}}</div></div>
              <div class="square-content-subtitle full-width">Accepted</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-lg-3">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of bootcampers</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{declinedBootcampers}}</div></div>
              <div class="square-content-subtitle full-width">Declined</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-lg-3">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of bootcampers</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{retryBootcampers}}</div></div>
              <div class="square-content-subtitle full-width">Retried</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-lg-3">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of bootcampers</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{users.length - totalActiveUsers}}</div></div>
              <div class="square-content-subtitle full-width">Left</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-lg-3">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of bootcampers with</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{undecidedBootcampers}}</div></div>
              <div class="square-content-subtitle full-width">No decision</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="tile bottom-shadow">
          <div class="tile-title text-color-medium-dark">
            <div class="row">
              <div class="col-12 col-md-6">
                <h4>EAP Targets</h4>
              </div>
              <div class="d-none col-6 d-lg-block">
                <div class="full-width d-flex justify-content-end">
                  <div class="button" [class.active]="bootcampStatsFilter === 'all'" (click)="bootcampStatsFilter = 'all'; updateStats()">All</div>
                  <div class="button" [class.active]="bootcampStatsFilter === 'accepted'" (click)="bootcampStatsFilter = 'accepted'; updateStats()">Accepted</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile-body">
            <div class="row text-color-medium text-weight-thin">
              <div class="col-6 col-md-3">African Male:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityBlackMale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (42.8 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 42.8 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">African Female:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityBlackFemale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (35.1 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 35.1 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">White Male:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityWhiteMale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (5.3 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 5.3 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">White Female:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityWhiteFemale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (4.2 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 4.2 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Indian Male:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityIndianMale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (1.8 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 1.8 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Indian Female:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityIndianFemale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (1 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 1 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Coloured Male:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityColouredMale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (5.3 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 5.3 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Coloured Female:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityColouredFemale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (4.5 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 4.5 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Chinese Male:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityChineseMale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (0 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 0 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Chinese Female:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityChineseFemale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (0 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 0 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Other Male:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityOtherMale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (0 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 0 / 100) : 0) | number:'1.0-0'}}</div>
              <div class="col-6 col-md-3">Other Female:</div><div class="col-6 col-md-3 text-weight-bold text-align-right">{{changeStatsType(ethnicityOtherFemale) }} / {{(bootcampStatsFilter === 'all' ? users.length * (0 / 100) : acceptedBootcampers ? acceptedBootcampers * ( 0 / 100) : 0) | number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template ngFor let-user [ngForOf]="users">
      <div class="row" *ngIf="currentStep > 0 && (user.visible$ | async)">
        <div class="col-12">
          <div class="tile bottom-shadow">
            <div class="tile-loading-container d-flex align-items-center" *ngIf="user.loading">
              <div class="secondary-loading-container">
                <div class="secondary-loading"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-4 col-xl-2">
                <div class="bootcamp-profile-image-container">
                  <div class="bootcamp-profile-image bottom-shadow">
                    <img *ngIf="user?.profileImage" src="{{user?.profileImage}}">
                    <img *ngIf="!user?.profileImage" src="/assets/images/default-user-profile.jpg">
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-8">
                <div class="rating-content full-height full-width d-flex align-items-center" *ngIf="user.bootcampRatingSelected">
                  <div class="rating-content-inner full-width">
                    <div class="row">
                      <div class="col-12">
                        <a routerLink="/dashboard/users/{{user.username}}"><div class="bootcamp-profile-username">{{user?.username}}</div></a>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">User average: <span class="text-weight-medium text" [class.text-color-success]="user.bootcampAverage > 10">{{user.bootcampAverage}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Bootcamp level: <span class="text-weight-medium" [class.text-color-success]="user.level > 1">{{user.level}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Daily projects passed: <span class="text-weight-medium" [class.text-color-success]="user.validatedBootcampDays >= 5">{{user.validatedBootcampDays}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Weekly exams passed: <span class="text-weight-medium" [class.text-color-success]="user.validatedBootcampExams > 0">{{user.validatedBootcampExams}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Final exam passed: <span class="text-weight-medium" [class.text-color-success]="user.validatedBootcampFinalExam">{{user.validatedBootcampFinalExam ? 'Yes' : 'No'}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Cheated: <span class="text-weight-medium" [class.text-color-success]="user.validatedBootcampCheating">{{!user.validatedBootcampCheating ? 'Yes' : 'No'}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Attendance: <span class="text-weight-medium" [class.text-color-success]="user.attendance >= 21">{{user.attendance}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="bootcamp-rating-item">Voxotron votes: <span class="text-weight-medium" [class.text-color-success]="user.studentVotes >= 5">{{user.studentVotes}}</span></div>
                      </div>
                      <div class="col-12 col-lg-6">
                      <div class="bootcamp-rating-item">Corrections completed: <span class="text-weight-medium" [class.text-color-success]="user.correctionsCount >= 44">{{user.correctionsCount}}</span></div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="bootcamp-profile d-flex align-items-center" *ngIf="!user?.bootcampRatingSelected">
                  <div class="bootcamp-profile-inner">
                    <div class="tags">
                      <div class="tag failure" *ngIf="user.isAwol">Left</div>
                    </div>
                    <div class="bootcamp-profile-name">
                      {{user?.firstName}} {{user?.lastName}}
                    </div>
                    <a routerLink="/dashboard/users/{{user.username}}"><div class="bootcamp-profile-username">{{user?.username}}</div></a>
                    <div class="bootcamp-profile-info">
                      <table>
                        <tr>
                          <td><span class="text-weight-thin">Age:</span> {{getAge(user)}}</td>
                          <td><span class="text-weight-thin">Ethnicity:</span> {{user?.ethnicity ? user.ethnicity : 'None set'}}</td>
                          <td><span class="text-weight-thin">Gender:</span> {{user?.gender ? user.gender : 'None set'}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="space-20" *ngIf="authenticationService.role === 'staff' || authenticationService.role === 'administrator'"></div>
                    <div class="button-small" *ngIf="authenticationService.role === 'staff' || authenticationService.role === 'administrator'" (click)="user.isAwol ? updateAwol(user, {isAwol: false}) : updateAwol(user, {isAwol: true})" [class.active]="user.isAwol">{{user.isAwol ? "Mark as active" : "Mark as left"}}</div>
                  </div>
                </div>
                <div class="space-30"></div>
              </div>
              <div class="col-12 col-lg-2" *ngIf="authenticationService.role === 'administrator' || authenticationService.role === 'staff'">
                <div class="bootcamp-profile-rating-container" [class.active]="user.bootcampRatingSelected" (click)="user.bootcampRatingSelected = !user.bootcampRatingSelected">
                  <div class="bootcamp-profile-rating-inner">
                    <div class="bootcamp-profile-rating d-flex align-items-center">
                      <div class="full-width">
                        <div>
                          <div class="rating-title">
                            Rating:
                          </div>
                          <div class="rating-value">
                            {{user?.rating | number : '1.2-2'}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="bootcamp-extra" [ngClass]="{accepted: user.finalDecision === 'accepted', declined: user.finalDecision === 'declined', retry: user.finalDecision === 'retry'}">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-9" *ngIf="user.finalDecision">
                      <div class="bootcamp-extra-decision">
                        <div class="text-color-success" *ngIf="user.finalDecision === 'accepted'">Accepted</div>
                        <div class="text-color-failure" *ngIf="user.finalDecision === 'declined'">Declined</div>
                        <div class="text-color-warning" *ngIf="user.finalDecision === 'retry'">Retry</div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" *ngIf="currentStep < 3 && !user.finalDecision">
                      <div class="bootcamp-extra-item">
                        <div class="bootcamp-extra-item-icon">
                          <svg><use xlink:href="#location-icon"></use></svg>
                        </div>
                        <div class="bootcamp-extra-item-text">From: <span class="text-weight-medium"> {{ (user?.homeTown.length> 15)? (user?.homeTown | slice:0:13)+'...':(user?.homeTown) }}, {{user?.birthCountry}}</span></div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" *ngIf="currentStep > 1 && !user.finalDecision">
                      <div class="bootcamp-extra-item">
                        <div class="bootcamp-extra-item-icon">
                          <svg><use xlink:href="#calendar-icon"></use></svg>
                        </div>
                        <div class="bootcamp-extra-item-text">Attendance: <span class="text-weight-medium"> {{user?.attendance}}</span></div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" *ngIf="currentStep > 1 && !user.finalDecision">
                      <div class="bootcamp-extra-item">
                        <div class="bootcamp-extra-item-icon">
                          <svg><use xlink:href="#projects-icon"></use></svg>
                        </div>
                        <div class="bootcamp-extra-item-text">Projects validated: <span class="text-weight-medium"> {{user.validatedBootcampDays}}</span></div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6" [class.col-lg-3]="user.finalDecision" *ngIf="currentStep > 4">
                      <div class="row">
                        <div class="col-4" *ngIf="!user.finalDecision && authenticationService.role === 'administrator' && !user.loading">
                          <div class="button button-grey-outline no-margins" (click)="decideUser(user, 'accepted')">Accept</div>
                        </div>
                        <div class="col-4" *ngIf="!user.finalDecision && authenticationService.role === 'administrator' && !user.loading">
                          <div class="button button-grey-outline no-margins"  (click)="decideUser(user, 'declined')">Decline</div>
                        </div>
                        <div class="col-4" *ngIf="!user.finalDecision && authenticationService.role === 'administrator' && !user.loading">
                          <div class="button button-grey-outline no-margins" (click)="decideUser(user, 'retry')">Retry</div>
                        </div>
                        <div class="col-12 text-align-right" *ngIf="user.finalDecision && authenticationService.role === 'administrator' && !user.loading">
                          <div class="full-width d-flex justify-content-end">
                            <div class="button button-grey-outline no-margins" (click)="decideUser(user, 'retract')">Retract decision</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row" *ngIf="componentFailure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button">
            <svg><use xlink:href="#failure-icon"></use></svg>
          </div>
          <h3>Oops!</h3>
          <div class="message">{{resultMessage}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-element-sequence (updated)="updateStep($event)" [steps]="bootcampService.selectedBootcamp?.steps"></app-element-sequence>
</div>
