@import "../../../../config";

.bootcamp-profile-image-container {
  width: 100%;
  padding: 30px 0 30px 30px;


  .bootcamp-profile-image {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background: #fff;
    border: 1px solid #F4F7F9;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
    }
  }

}

.bootcamp-profile {
  padding: 30px 0;
  height: 100%;
}

.bootcamp-profile-username {
  font-size: 2.2em;
  font-family: 'Roboto', sans-serif;
  color: #3c758d;
  font-weight: 100;
  line-height: 1.1em;
}

.bootcamp-profile-name {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #b0bec5;
}

.bootcamp-profile-info table {
  color: #b0bec5;

  tr {
    td {
      &:not(:last-child) {
        padding-right: 20px;
      }
    }
  }
}

.bootcamp-extra {
  width: 100%;
  padding: 15px 30px;
  background: #F4F7F9;
  @include transition(all, 0.3s);

  &.accepted {
    background: #f0f6f7;

    .button {
      color: #016c90;
      border-color:  #016c90;

      &:hover {
        background:  #016c90;
        color: #fff;
      }
    }
  }

  &.retry {
    background:#FFF8E1;

    .button {
      color: #FF9800;
      border-color: #FF9800;

      &:hover {
        background: #FF9800;
        color: #fff;
      }
    }
  }

  &.declined {
    background:#ffebee;

    .button {
      color: #f44336;
      border-color: #f44336;

      &:hover {
        background: #f44336;
        color: #FFF
      }
    }
  }

  .bootcamp-extra-item-text {
    margin-left: 10px;

    span {
      text-transform: capitalize !important;
    }
  }

  .bootcamp-extra-item {
    color: #90A4AE;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 100;

    div {
      display: inline-block;
      vertical-align: middle;
    }

    .bootcamp-extra-item-icon svg {
      margin-bottom: -5px;
      fill: #90A4AE;
      width: 40px;
      height: 40px;
    }
  }
}

.bootcamp-profile-rating-container {
  width: 100%;
  padding: 30px 30px 30px 0;

  &.active {

    .bootcamp-profile-rating-inner {
      &:hover {
        background: #093e53;
        color: #fff;
      }

      background: #016588;
      border: 1px solid #016588;
      color: #FBFCFD;
    }
  }

  .bootcamp-profile-rating-inner {
    width: 100%;
    padding-bottom: 100%;
    background: #FBFCFD;
    border: 1px solid #ECEFF1;
    color: #b0bec5;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    @include transition(all, 0.3s);

    &:hover {
      background: #ECEFF1;
      color: #90A4AE;
    }
  }

  .bootcamp-profile-rating {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    text-align: center;

    .rating-title {
      font-size: 1.2em;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
    }

    .rating-value {
      font-size: 3em;
      line-height: 1em;
      font-weight: 100;
      font-family: 'Roboto', sans-serif;
    }
  }
}


.rating-content {
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #90A4AE;
}

.bootcamp-extra-decision {
  font-size: 1.4em;
  padding: 7px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.bootcamp-filter-container {
  width: 100%;
  border: 2px solid #b0bec5;
  margin-bottom: 20px;
  position: relative;

  svg {
    fill: #90A4AE;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 10px;
  }

  input{
    font-family: "Open Sans", sans-serif;
    position: relative;
    z-index: 1;
    padding-left: 60px;
    color: #b0bec5;
    background: none;
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 0;
    border:none;
  }
}
