<div class="dashboard-container" [class.no-scroll]="navService.dashboardMenuToggled">
  <div class="dashboard-loading-container d-flex align-items-center" *ngIf="navService.dashboardLoading | async">
    <div class="dashboard-loading-inner">
      <div class="dashboard-loading-logo">
        <img src="/assets/images/wethinkcode-logo-loading.gif">
      </div>
      <div class="dashboard-status">{{navService.dashboardStatus}}</div>
    </div>
  </div>
  <app-element-nav-dashboard></app-element-nav-dashboard>
  <div class="dashboard">
    <div class="d-none dashboard-quick-links-container d-lg-table-cell">
      <app-element-quick-links-dashboard></app-element-quick-links-dashboard>
    </div>
    <div class="dashboard-sub-pages-container">
      <app-element-notifications></app-element-notifications>
      <router-outlet></router-outlet>
      <app-element-edit-user-information></app-element-edit-user-information>
      <app-element-slider-new-campus></app-element-slider-new-campus>
      <app-element-slider-new-curriculum></app-element-slider-new-curriculum>
      <app-element-slider-new-module></app-element-slider-new-module>
      <app-element-slider-new-project-instance></app-element-slider-new-project-instance>
      <app-element-slider-new-bootcamp></app-element-slider-new-bootcamp>
      <app-element-slider-finalize-bootcamp></app-element-slider-finalize-bootcamp>
      <app-element-slider-manage-staff-voters></app-element-slider-manage-staff-voters>
      <app-element-slider-new-cohort></app-element-slider-new-cohort>
      <app-element-slider-new-user *ngIf="authenticationService.role === 'administrator'"></app-element-slider-new-user>
      <app-element-note></app-element-note>
    </div>
  </div>
</div>
