.users-container {
  min-height: calc(100vh - 160px);
  width:100%;
}

.user-container {
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
}

.user-profile {
  padding: 30px;

  a {
    color: inherit;
  }
}

.loading-more-users {
  width: 100%;
  padding: 40px;
}

.user-options {
  width: 100%;

  .user-message {
    border-right: 2px solid #F4F7F9;
  }

  .user-message, .user-view {
    cursor: pointer;
    border-top: 2px solid #F4F7F9;
    text-align: center;
    padding: 20px 0;
    color: #90A4AE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;

    &:hover {
      background: #016c90;
      color: #fff;
      border-top: 2px solid #016c90;
      border-right: 2px solid #016c90;

    }
  }
}

.user-profile-image {
  margin: 10px auto 20px auto;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  background: #E4E9ED;

  img {
    width: 100%;
  }
}

.user-name {
  width: 100%;
  text-align: center;
  color: #546E7A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.user-username {
  width: 100%;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #019cd1;
  text-align: center;
}

.user-role {
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #546E7A;
}

.user-role-icon {
  width: 25px;
  height: 25px;
  fill: #B0BEC5;
  margin-right: 10px;
}

.user-role-icon svg {
  width: 100%;
  height: 100%;
}
