<div class="users-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="users.length && !loading">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h4 class="sub-page-title">Users</h4>
        <div class="space-20"></div>
      </div>
      <div class="d-none col-12 d-lg-block col-md-6">
        <div class="sub-page-options d-flex justify-content-end">
          <div class="button-small button no-margins" (click)="navService.isNewUserSliderToggled = true; toolService.getAllTools()" *ngIf="authenticationService.role === 'administrator'">
            Add User
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let user of users">
        <div class="user-container bottom-shadow">
          <div class="user-profile">
            <a  [routerLink]="['/dashboard/users/', user.identifier]">
              <div class="user-profile-image">
                <img *ngIf="user.profileImage" src="{{user.profileImage}}">
                <img *ngIf="!user.profileImage" src="/assets/images/default-user-profile.jpg">
              </div>
            </a>
            <div class="user-name">
              <a [routerLink]="['/dashboard/users/', user.identifier]">{{user.display_name}}</a>
            </div>
            <div class="user-username">
              <a [routerLink]="['dashboard/users/', user.identifier]">{{user.username}}</a>
            </div>
            <div class="user-role">
              <a [routerLink]="['/dashboard/users/', user.identifier]" class="d-flex justify-content-start">
                <div class="user-role-icon"><svg><use xlink:href="#role-icon"></use></svg></div>
                <div class="user-role-text">{{user.role}}</div>
              </a>
            </div>
          </div>
          <div class="user-options">
            <div class="row no-gutters">
              <div class="col-12 col-md-6">
                <a [routerLink]="['/dashboard/chats']" [queryParams]="{id: user.identifier}"><div class="user-message">Message User</div></a>
              </div>
              <div class="col-12 col-md-6">
                <a [routerLink]="['/dashboard/users/', user.identifier]"><div class="user-view">View Profile</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loadingMoreUsers">
      <div class="col-12">
        <div class="loading-more-users">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="full-width text-align-center">
          <div class="button button-grey-outline center-element" (click)="getMoreUsers()">Load more users</div>
        </div>
      </div>
    </div>
  </div>
</div>
