<div class="milestone-container">
  <div class="milestone-prev" [ngClass]="{disabled: !progress}" (click)="changeProgress('previous')">
    <svg><use xlink:href="#next-icon"></use></svg>
  </div>
  <div class="milestone-next" [ngClass]="{disabled: progress === 3}" (click)="changeProgress('next')">
    <svg><use xlink:href="#next-icon"></use></svg>
  </div>
  <div class="milestone-inner" [ngStyle]="{ 'margin-left': progressPosition}">
    <div class="milestone-progress-container">
      <div class="milestone-progress" [ngStyle]="{'width': userService.selectedUser.currentMonth <= 8 ? (userService.selectedUser.currentMonth / 8 * 100 + '%') : '100%'}"></div>
      <ng-template ngFor let-milestone [ngForOf]="milestoneItemsY1">
        <div class="milestone-item" [ngClass]="{active: isMilestoneComplete(milestone.slug)}" [ngStyle]="{ 'left' : 'calc(' +  milestone.position  + '% - 25px)' }">
          <div class="milestone-content">
            <div class="milestone-icon" [ngClass]="{active: milestone.active}"><svg><use attr.xlink:href="#{{milestone.icon}}"></use></svg></div>
            <div class="milestone-title">{{milestone.title}}</div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="milestone-progress-container">
      <div class="milestone-progress" [ngStyle]="{'width': userService.selectedUser.currentMonth > 8 ? (userService.selectedUser.currentMonth <= 12 ? (userService.selectedUser.currentMonth / 12 * 100 + '%') : '100%') : '0'}"></div>
      <ng-template ngFor let-milestone [ngForOf]="milestoneItemsInternship1">
        <div class="milestone-item" [ngClass]="{active: isMilestoneComplete(milestone.slug)}" [ngStyle]="{ 'left' : 'calc(' +  milestone.position  + '% - 25px)' }">
          <div class="milestone-content">
            <div class="milestone-icon"><svg><use attr.xlink:href="#{{milestone.icon}}"></use></svg></div>
            <div class="milestone-title">{{milestone.title}}</div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="milestone-progress-container">
      <div class="milestone-progress" [ngStyle]="{'width': userService.selectedUser.currentMonth > 12 ? (userService.selectedUser.currentMonth <= 20 ? (userService.selectedUser.currentMonth / 20 * 100 + '%') : '100%') : '0'}"></div>
      <ng-template ngFor let-milestone [ngForOf]="milestoneItemsY2">
        <div class="milestone-item" [ngClass]="{active: isMilestoneComplete(milestone.slug)}" [ngStyle]="{ 'left' : 'calc(' +  milestone.position  + '% - 25px)' }">
          <div class="milestone-content">
            <div class="milestone-icon"><svg><use attr.xlink:href="#{{milestone.icon}}"></use></svg></div>
            <div class="milestone-title">{{milestone.title}}</div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="milestone-progress-container">
      <div class="milestone-progress" [ngStyle]="{ 'width' : '100%' }"></div>
      <ng-template ngFor let-milestone [ngForOf]="milestoneItemsInternship2">
        <div class="milestone-item" [ngClass]="{active: isMilestoneComplete(milestone.slug)}" [ngStyle]="{ 'left' : 'calc(' +  milestone.position  + '% - 25px)' }">
          <div class="milestone-content">
            <div class="milestone-icon"><svg><use attr.xlink:href="#{{milestone.icon}}"></use></svg></div>
            <div class="milestone-title">{{milestone.title}}</div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
