.milestone-container {
  width: calc(100% - 100px);
  margin: 0 50px;
  padding: 30px 30px;
  overflow:hidden;

  .milestone-inner {
    width: calc(400% + (120px * 4));
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .milestone-next, .milestone-prev {
    width: 50px;
    height: 50px;
    fill: #b0bec5;
    position: absolute;
    top: 40px;
    cursor: pointer;

    &.disabled {
      fill: #ECEFF1;

      &:hover {
        fill: #ECEFF1;
      }
    }

    &:hover {
      fill: #016c90;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .milestone-prev {
    left: 20px;
    svg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .milestone-next {
    right: 20px;
  }

  .milestone-progress-container {
    width: calc(25% - 120px);
    height: 15px;
    background: #ECEFF1;
    margin:15px 100px 35px 0;
    position: relative;
    display: inline-block;

  }

  .milestone-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #016c90;
  }

  .milestone-item {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #ECEFF1;
    position: absolute;
    top: -15px;
    box-sizing: border-box;

    &.active {
      background: #016c90;
      border: 3px solid #016c90;

      .milestone-icon {
        fill: #fff;
      }
    }

    .milestone-content {
      width: 44px;
      height: 44px;
      position: relative;
    }

    .milestone-icon {
      width: 44px;
      height: 44px;
      padding: 8px;
      fill: #b0bec5;

      &.active {
        fill: #fff;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .milestone-title {
      position: absolute;
      top: 55px;
      font-size: 0.8em;
      color: #b0bec5;
      width: 150px;
      font-weight: 100;
      -webkit-transform: translateX(calc(20px - 50%));
      -moz-transform: translateX(calc(20px - 50%));
      -ms-transform: translateX(calc(20px - 50%));
      -o-transform: translateX(calc(20px - 50%));
      transform: translateX(calc(20px - 50%));
      text-align: center;
    }

    &:nth-of-type(2) .milestone-title {
      left: 0;
      text-align: left;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }

    &:last-child .milestone-title {
      right: 0;
      text-align: right;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
