.student-performance-filter {
  position: relative;


  .parent {
    text-align: left;
    z-index: 1;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #F4F7F9;

    &.active {
      display: block;
    }

    li {
      color: #b0bec5;
      font-weight: 100;
      font-family: "Open Sans", sans-serif;
      padding: 10px 15px;
      background: #fff;
      min-width: 200px;
      position: relative;

      .filter-icon {
        fill: #b0bec5;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
      }

      &:hover {
        background: #F4F7F9;
      }

      &:hover > .child {
        display: block;
      }

      .child {
        border: 1px solid #F4F7F9;
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
        position: absolute;
        top: 0;
        right: 100%;

        svg {
          margin-bottom: -5px;
          fill: #8BC34A;
          display: inline-block;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
