<div class="student-performance-process-container sub-page-container">
  <div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading && !failure">
    <div class="secondary-loading-container">
      <div class="secondary-loading"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h4 class="sub-page-title" *ngIf="!failure">{{cohortService.selectedCohort?.title}} - {{cohortService.selectedCohort?.processSteps[currentStep].title}}</h4>
        <h4 class="sub-page-title" *ngIf="failure">Error</h4>
        <div class="space-30"></div>
      </div>
      <div class="col-12 d-none col-lg-6 d-lg-block text-align-right" *ngIf="currentStep > 0">
        <div (click)="isFilterMenuToggled = true" class="student-performance-filter button-small button no-margins">
          Filter ({{this.cohortService.selectedCohort.studentCount}})
          <ul class="parent bottom-shadow" [ngClass]="{ active: isFilterMenuToggled }">
            <li class="more">Tags
              <ul class="child">
                <li class="d-flex justify-content-between" (click)="filter.tags.nonPerformer = !filter.tags.nonPerformer;">Non-Performer <svg *ngIf="!filter.tags.nonPerformer"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.tags.lowPerformer = !filter.tags.lowPerformer;">Low Performer <svg *ngIf="!filter.tags.lowPerformer"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.tags.performer = !filter.tags.performer;">Performer <svg *ngIf="!filter.tags.performer"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.tags.highPerformer = !filter.tags.highPerformer;">High Performer <svg *ngIf="!filter.tags.highPerformer"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.tags.year2Ready = !filter.tags.year2Ready;">Year 2 Ready <svg *ngIf="!filter.tags.year2Ready"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.tags.internship2Ready = !filter.tags.internship2Ready;">Internship 2 Ready <svg *ngIf="!filter.tags.internship2Ready"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.tags.exempt = !filter.tags.exempt;">Exempt <svg *ngIf="!filter.tags.exempt"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="showAllTags()">Show all</li>
                <li class="d-flex justify-content-between" (click)="hideAllTags()">Hide all</li>
              </ul>
              <svg class="filter-icon" *ngIf="filter.tags.nonPerformer || filter.tags.lowPerformer || filter.tags.performer || filter.tags.highPerformer"><use xlink:href="#filter-icon"></use></svg>
            </li>
            <li class="more">
              Status
              <ul class="child bottom-shadow">
                <li class="d-flex justify-content-between" (click)="filter.state.active = !filter.state.active;">Active <svg *ngIf="!filter.state.active"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.state.inactive = !filter.state.inactive;">Inactive <svg *ngIf="!filter.state.inactive"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.state.awol = !filter.state.awol;">AWOL <svg *ngIf="!filter.state.awol"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.state.employed = !filter.state.employed;">Employed <svg *ngIf="!filter.state.employed"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="filter.state.terminated = !filter.state.terminated;">Terminated <svg *ngIf="!filter.state.terminated"><use xlink:href="#tick-icon"></use></svg></li>
                <li class="d-flex justify-content-between" (click)="showAllStates();">Show all</li>
                <li class="d-flex justify-content-between" (click)="hideAllStates();">Hide all</li>
              </ul>
              <svg class="filter-icon" *ngIf="filter.state.active || filter.state.inactive || filter.state.awol || filter.state.terminated || filter.state.employed"><use xlink:href="#filter-icon"></use></svg>

            </li>
            <li class="more">Exam Count
              <ul class="child bottom-shadow">
                <li>None</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>More than 5</li>
                <li>Show all</li>
                <li>Hide all</li>
              </ul>
            </li>
            <li class="more">Y1 Module Count
              <ul class="child bottom-shadow">
                <li>None</li>
                <li>1</li>
                <li>2</li>
                <li>More than 2</li>
                <li>Show all</li>
                <li>Hide all</li>
              </ul>
            </li>
            <li class="more">Y2 Module Count
              <ul class="child bottom-shadow">
                <li>None</li>
                <li>1</li>
                <li>2</li>
                <li>More than 2</li>
                <li>Show all</li>
                <li>Hide all</li>
              </ul>
            </li>
            <li class="more bottom-shadow">Modules Validated
              <ul class="child">
                <li>Unix 1</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>More than 3</li>
                <li>Show all</li>
                <li>Hide all</li>
              </ul>
            </li>
            <li class="more bottom-shadow">Attendance</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="cohortService.selectedCohort && currentStep === 0 && !failure">
      <div class="col-12 col-md-2 col-lg-3">
        <div class="tile bottom-shadow">
          <div class="square-container">
            <div class="square d-flex align-content-between flex-wrap">
              <div class="square-content-title full-width">Number of Students</div>
              <div class="square-content-value full-width"><div class="square-content-value-large">{{cohortService.selectedCohort.students.length}}</div></div>
              <div class="square-content-subtitle full-width">Enrolled</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="currentStep > 0">
          <div class="col-12" *ngFor="let student of cohortService.selectedCohort.students | studentFilter:filter">
            <div class="tile bottom-shadow user-profile-long-container">
              <div class="tile-loading-container d-flex align-items-center" *ngIf="student.loading">
                <div class="secondary-loading-container">
                  <div class="secondary-loading"></div>
                </div>
              </div>
              <div class="user-container">
                <div class="row">
                  <div class="col-2">
                    <div class="user-image bottom-shadow">
                      <a routerLink="/dashboard/users/{{student.username}}">
                        <img src="{{student.profileImage ? student.profileImage : '/assets/images/default-user-profile.jpg'}}">
                      </a>
                    </div>
                  </div>
                  <div class="col-10 d-flex align-items-center">
                    <div class="full-width">
                      <div class="user-names"><a routerLink="/dashboard/users/{{student.username}}">{{student.firstName}} {{student.lastName}}</a></div>
                      <div class="user-username"><a routerLink="/dashboard/users/{{student.username}}">{{student.username}}</a></div>
                      <div class="user-tags">
                        <ul>
                          <li *ngIf="student.state" [ngClass]="{ good: student.state === 'active', bad: student.state !== 'active' }">{{student.state}}</li>
                          <li *ngIf="student.state === 'active' && student.isUnderReview" class="bad">Under Review</li>
                          <li *ngIf="student.state === 'active' && student.isHighPerformer" class="good">High Performer</li>
                          <li *ngIf="student.state === 'active' && student.isPerformer">Performer</li>
                          <li *ngIf="student.state === 'active' && student.isLowPerformer">Low Performer</li>
                          <li *ngIf="student.state === 'active' && student.isNonPerformer" class="bad">Non-performer</li>
                          <li *ngIf="student.state === 'active' && student.isInternship1Ready" class="extra-1">Internship 1 Ready</li>
                          <li *ngIf="student.state === 'active' && student.isYear2Ready" class="text-color-extra-1">Year 2 Ready</li>
                          <li *ngIf="student.state === 'active' && student.isInternship2Ready" class="text-color-extra-1">Internship 2 Ready</li>
                          <li *ngIf="student.state === 'active' && student.isExempt" class="text-color-extra-2">Exempt</li>
                        </ul>
                      </div>
                      <div class="row">
                        <div class="col-6 col-lg-3">Exams validated:</div>
                        <div class="col-6 col-lg-3">
                          <ul class="user-profile-validation">
                            <li [ngClass]="{ validated: student.examsValidated > 0 }"></li>
                            <li [ngClass]="{ validated: student.examsValidated > 1 }"></li>
                            <li [ngClass]="{ validated: student.examsValidated > 2 }"></li>
                            <li [ngClass]="{ validated: student.examsValidated > 3 }"></li>
                            <li [ngClass]="{ validated: student.examsValidated > 4 }"></li>
                          </ul>
                        </div>
                        <div class="col-6 col-lg-3">Modules validated Year 1:</div>
                        <div class="col-6 col-lg-3">
                          <ul class="user-profile-validation">
                            <li [ngClass]="{ validated: student.y1ModulesValidated > 0 }"></li>
                            <li [ngClass]="{ validated: student.y1ModulesValidated > 1 }"></li>
                          </ul>
                        </div>
                        <div class="col-6 col-lg-3" *ngIf=" student.currentMonth > 12">Modules validated Year 2:</div>
                        <div class="col-6 col-lg-3" *ngIf=" student.currentMonth > 12">
                          <ul class="user-profile-validation">
                            <li [ngClass]="{ validated: student.y2ModulesValidated > 0 }"></li>
                            <li [ngClass]="{ validated: student.y2ModulesValidated > 1 }"></li>
                          </ul>
                        </div>
                        <div class="col-6 col-lg-3" *ngIf=" student.currentMonth > 12">Social Tech Lab Validated:</div>
                        <div class="col-6 col-lg-3" *ngIf=" student.currentMonth > 12">
                          <ul class="user-profile-validation">
                            <li [ngClass]="{ validated: student.socialTechValidated }"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer">
                <div class="row">
                  <div class="col col-md-6 col-lg-3">
                    <div class="footer-item">
                      <div class="footer-icon"></div>
                      <div class="footer-content">Attendance: {{student.attendance}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row" *ngIf="failure">
      <div class="no-records-container d-flex align-items-center">
        <div class="no-records-inner">
          <div class="no-records-add-button">
            <svg><use xlink:href="#failure-icon"></use></svg>
          </div>
          <h3>Oops!</h3>
          <div class="message">{{resultMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-element-sequence *ngIf="!failure" (updated)="updateStep($event)" [steps]="cohortService.selectedCohort?.processSteps"></app-element-sequence>
