<div class="tile bottom-shadow">
  <div class="tile-title">
    <div class="edit-icon" (click)="navService.isNewProjectInstanceSliderToggled = true"><svg><use xlink:href="#add-icon"></use></svg></div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="text-color-medium-dark">Project Instances:</h4>
        <p class="text-weight-thin text-color-medium">All instances of {{this.projectService.selectedProject?.title}}:</p>
      </div>
    </div>
  </div>
  <div class="tile-no-records-container" *ngIf="!projectService.projectInstances.length && !loading">
    <div class="tile-no-records text-align-center">
      <div class="add-record-icon" (click)="navService.isNewProjectInstanceSliderToggled = true">
        <svg><use xlink:href="#add-icon"></use></svg>
      </div>
      <div class="message">There are currently no instances of {{projectService.selectedProject?.title}}. Click the button above to add one</div>
    </div>
  </div>
  <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
    <div class="loading-items text-align-center d-flex align-items-center">
      <div class="loading-items-text">
        <div class="secondary-loading-container">
          <div class="secondary-loading"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="curriculum-table-container tile-table-container" *ngIf="projectService.projectInstances.length">
    <table class="tile-table">
      <thead>
      <tr>
        <td class="curriculum-table-title">
          Instance Title
        </td>
        <td class="curriculum-table-campuses">
          Validation Grade
        </td>
        <td class="curriculum-table-campuses">
          Starting Date
        </td>
        <td class="curriculum-table-campuses">
          Ending Date
        </td>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-instance [ngForOf]="projectService.projectInstances">
        <tr>
          <td>{{instance?.title}}</td>
          <td>{{instance?.validationGrade}}</td>
          <td>{{instance?.startDateTSL}}</td>
          <td>{{instance?.endDateTSL}}</td>
          <td></td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>
