<div [class.active]="navService.isNewCohortSliderToggled" class="slide-out-container size-medium position-right left-shadow">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="resetCohort()">
      <svg><use xlink:href="#cross-icon"></use></svg>    </div>
    <div class="slide-out-title">
      New Cohort
    </div>
  </div>
  <div class="slide-out-body">
    <form *ngIf="!loading && !success && !failure">
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>General Information</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="title" placeholder="Title" [(ngModel)]="cohort.title" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0001'">{{error.message}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="slug" placeholder="Slug" [(ngModel)]="cohort.slug">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                <div class="input-container">
                  <select name="campus" (change)="setCampus($event.target.value)" (click)="clearError()">
                    <option [value]="-1" disabled selected *ngIf="campusService.loadingCampuses">Loading...</option>
                    <option [value]="-1" disabled selected *ngIf="!campusService.loadingCampuses">Select a Campus</option>
                    <option *ngFor="let fetched of campusService.campuses" [value]="fetched.id">{{fetched.title}}</option>
                  </select>
                  <div class="input-error" *ngIf="error?.code === 'C0002'">{{error.message}}</div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <app-element-date-selector (click)="clearError()" (update)="setStartDate($event)" [placeholder]="'Start date'"></app-element-date-selector>
                <div class="input-error" *ngIf="error?.code === 'C0003'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium">{{resultMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="saveCohort()">Save</div>
          <div class="button button-grey-outline" *ngIf="success || failure" (click)="resetCohort()">Close</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="resetCohort()">Cancel</div>
        </div>
      </div>
    </div>

  </div>
</div>
