<div [class.active]="navService.isNewCampusSliderToggled" class="new-campus-slider-container slide-out-container left-shadow">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="navService.isNewCampusSliderToggled = false">
      <svg><use xlink:href="#cross-icon"></use></svg>    </div>
    <div class="slide-out-title">
      New Campus
    </div>
  </div>
  <div class="slide-out-body">
    <form *ngIf="!loading && !success && !failure">
      <div class="tile-form-title"><svg><use xlink:href="#info-icon"></use></svg>General Information</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-container">
                <input name="title" placeholder="Title" [(ngModel)]="campus.title" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0001'">{{this.error.message}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-container">
                <input name="description" placeholder="Description" [(ngModel)]="campus.description" (focus)="clearError()">
                <div class="input-error" *ngIf="error?.code === 'C0002'">{{this.error.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile-form-title"><svg><use xlink:href="#location-icon"></use></svg>Geographical Information</div>
      <div class="tile-form-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p class="text-weight-bold text-color-medium"> Physical Address</p>
            </div>
            <div class="col-12">
              <input name="physical-unit" placeholder="Unit" [(ngModel)]="campus.physicalUnit">
            </div>
            <div class="col-12">
              <input name="physical-floor" placeholder="Floor" [(ngModel)]="campus.physicalFloor">
            </div>
            <div class="col-12">
              <input name="physical-building" placeholder="Building" [(ngModel)]="campus.physicalBuilding">
            </div>
            <div class="col-12">
              <input name="physical-street-address" placeholder="Street Address" [(ngModel)]="campus.physicalStreet">
            </div>
            <div class="col-12">
              <input name="physical-city" placeholder="City" [(ngModel)]="campus.physicalCity">
            </div>
            <div class="col-12">
              <input name="physical-province" placeholder="State / Province" [(ngModel)]="campus.physicalProvince">
            </div>
            <div class="col-12">
              <input name="physical-postal-code" placeholder="Area Code" [(ngModel)]="campus.physicalPostalCode">
            </div>
            <div class="col-12">
              <select name="physical-country" [(ngModel)]="campus.physicalCountry">
                <option selected disabled value="">Country</option>
                <ng-template ngFor let-country [ngForOf]="countryList">
                  <option value="{{country.value}}">{{country.name}}</option>
                </ng-template>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-weight-bold text-color-medium"> Postal Address</p>
            </div>
            <div class="col-12">
              <input name="postal-unit" placeholder="Unit" [(ngModel)]="campus.postalUnit">
            </div>
            <div class="col-12">
              <input name="postal-floor" placeholder="Floor" [(ngModel)]="campus.postalFloor">
            </div>
            <div class="col-12">
              <input name="postal-building" placeholder="Building"  [(ngModel)]="campus.postalBuilding">
            </div>
            <div class="col-12">
              <input name="postal-street-address" placeholder="Street Address" [(ngModel)]="campus.postalStreet">
            </div>
            <div class="col-12">
              <input name="postal-city" placeholder="City" [(ngModel)]="campus.postalCity">
            </div>
            <div class="col-12">
              <input name="postal-postal-code" placeholder="Area Code" [(ngModel)]="campus.postalPostalCode">
            </div>
            <div class="col-12">
              <input name="postal-province" placeholder="State / Province" [(ngModel)]="campus.postalProvince">
            </div>
            <div class="col-12">
              <select name="physical-country" [(ngModel)]="campus.postalCountry">
                <option selected disabled value="">Country</option>
                <ng-template ngFor let-country [ngForOf]="countryList">
                  <option value="{{country.value}}">{{country.name}}</option>
                </ng-template>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="success">{{successMessage}}</div>
        <div class="slide-out-result-text text-color-medium" *ngIf="failure">{{failureMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure" (click)="submitNewCampus()">Save</div>
          <div class="button button-grey-outline" *ngIf="success || failure" (click)="clearNewCampus()">Close</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="!success && !failure"  (click)="clearNewCampus()">Cancel</div>
        </div>
      </div>
    </div>

  </div>
</div>
