<div [ngClass]="{ active: navService.dashboardMenuToggled }" class="menu-container">
  <div class="bg">
    <div [ngClass]="{ active: navService.dashboardMenuToggled }" class="bg-white bottom-shadow"></div>
    <div [ngClass]="{ active: navService.dashboardMenuToggled }" class="bg-blue bottom-shadow"></div>
    <div [ngClass]="{ active: navService.dashboardMenuToggled }" class="bg-dark-blue bottom-shadow">

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="menu-title text-weight-thin">My Tools</div>
            <div class="separator white"></div>
            <div class="space-20"></div>
          </div>
        </div>
        <div *ngIf="toolService.globalTools.length"  class="row">
          <div *ngFor="let tool of toolService.globalTools" class="col-6 col-md-3 col-lg-2">
            <a routerLinkActive="active" routerLink="{{tool.url}}" (click)="navService.toggleDashboardMenu()">
              <div class="menu-tool-container">
                <div class="menu-tool d-flex align-items-center">
                  <div class="menu-tool-inner">
                    <div class="menu-tool-icon">
                      <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                    </div>
                    <div class="menu-tool-name">{{tool.name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="toolService.administratorTools.length"  class="row">
          <div class="col-12">
            <div class="menu-sub-title">Administrative Tools</div>
          </div>
          <div *ngFor="let tool of toolService.administratorTools" class="col-6 col-md-3 col-lg-2">
            <a routerLinkActive="active" routerLink="{{tool.url}}" (click)="navService.toggleDashboardMenu()">
              <div class="menu-tool-container">
                <div class="menu-tool d-flex align-items-center">
                  <div class="menu-tool-inner">
                    <div class="menu-tool-icon">
                      <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                    </div>
                    <div class="menu-tool-name">{{tool.name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="toolService.staffTools?.length" class="row">
          <div class="col-12">
            <div class="menu-sub-title">Staff Tools</div>
          </div>
          <div *ngFor="let tool of toolService.staffTools" class="col-6 col-md-3 col-lg-2">
            <a routerLinkActive="active" routerLink="{{tool.url}}" (click)="navService.toggleDashboardMenu()">
              <div class="menu-tool-container">
                <div class="menu-tool d-flex align-items-center">
                  <div class="menu-tool-inner">
                    <div class="menu-tool-icon">
                      <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                    </div>
                    <div class="menu-tool-name">{{tool.name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="toolService.corporateSponsorTools?.length" class="row">
          <div class="col-12">
            <div class="menu-sub-title">Corporate Sponsor Tools</div>
          </div>
          <div *ngFor="let tool of toolService.corporateSponsorTools" class="col-6 col-md-3 col-lg-2">
            <a routerLinkActive="active" routerLink="{{tool.url}}" (click)="navService.toggleDashboardMenu()">
              <div class="menu-tool-container">
                <div class="menu-tool d-flex align-items-center">
                  <div class="menu-tool-inner">
                    <div class="menu-tool-icon">
                      <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                    </div>
                    <div class="menu-tool-name">{{tool.name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="toolService.studentTools?.length" class="row">
          <div class="col-12">
            <div class="menu-sub-title">Student Tools</div>
          </div>
          <div *ngFor="let tool of toolService.studentTools" class="col-6 col-md-3 col-lg-2">
            <a routerLinkActive="active" routerLink="{{tool.url}}" (click)="navService.toggleDashboardMenu()">
              <div class="menu-tool-container">
                <div class="menu-tool d-flex align-items-center">
                  <div class="menu-tool-inner">
                    <div class="menu-tool-icon">
                      <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                    </div>
                    <div class="menu-tool-name">{{tool.name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="toolService.applicantTools?.length" class="row">
          <div class="col-12">
            <div class="menu-sub-title">Applicant Tools</div>
          </div>
          <div *ngFor="let tool of toolService.applicantTools" class="col-6 col-md-3 col-lg-2">
            <a routerLinkActive="active" routerLink="{{tool.url}}" (click)="navService.toggleDashboardMenu()">
              <div class="menu-tool-container">
                <div class="menu-tool d-flex align-items-center">
                  <div class="menu-tool-inner">
                    <div class="menu-tool-icon">
                      <svg><use attr.xlink:href="#{{tool.icon}}"></use></svg>
                    </div>
                    <div class="menu-tool-name">{{tool.name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
