@import "../../../../config";

.menu-container {
  visibility: hidden;
  position: fixed;
  top: 100px;
  left: 0;
  width:100vw;
  height: calc(100vh - 100px);
  z-index: 98;
}

.menu-container.active {
  visibility: visible;
}

.bg {
  width: 100%;
  height: 100%;
}

.bg-white {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -o-transition: all .5s .5s;
  -ms-transition: all .5s .5s;
  -moz-transition: all .5s .5s;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
}

.bg-white.active {
  top: 0;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bg-blue {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #016c90;
  -webkit-transition-delay: .25s; /* Safari */
  transition-delay: .25s;
  -o-transition: all .5s .25s;
  -ms-transition: all .5s .25s;
  -moz-transition: all .5s .25s;
  -webkit-transition: all .5s .25s;
  transition: all .5s .25s;
}

.bg-blue.active {
  top:0;
}

.bg-dark-blue {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #263238;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 20px 5px;
  overflow-y: scroll;
}

.bg-dark-blue.active {
  -o-transition: all .5s .5s;
  -ms-transition: all .5s .5s;
  -moz-transition: all .5s .5s;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
  top: 0;
  height: 100%;
}

.menu-items {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
  list-style: none;
  overflow:auto;
}

.menu-item {
  color: #093e53;
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include transition(all, 0.3s);
  cursor: pointer;
}

.menu-item:focus {
  outline: none;
}


.menu-item.active {
  color: #90A4AE;
}

.menu-item.active:hover {
  color: #fff;
}

.menu-item:hover {
  color: #3c758d;
}

.menu-title {
  color: #B0BEC5;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}

.menu-sub-title{
  color: #78909C;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  margin: 15px 0;
}

.menu-tool-container {
  @include transition(all, 0.3s);
  margin-bottom: 30px;
  cursor: pointer;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  border: 2px solid #37474F;

  &:hover {
    border: 2px solid #016c90;
    background: #016c90;
  }

  &:hover .menu-tool {
    color: #fff
  }

  &:hover .menu-tool .menu-tool-icon {
    fill: #fff
  }
}

.menu-tool {
  @include transition(all, 0.3s);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  padding: 15px;
  color:  #37474F;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-tool-inner {
  width: 100%;
}

.menu-tool-icon {
  @include transition(all, 0.3s);
  fill: #37474F;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.menu-tool-icon svg{
  width: 100%;
  height: 100%;
}

.menu-tool-notifications {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  background: #016c90;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  padding: 7px 0;
}

.menu-tool-name {
  font-weight: 100;
  text-align: center;
  white-space:pre-wrap;
}
