//effects
@mixin transition($attr, $speed) {
  -webkit-transition: $attr $speed ease-in-out;
  -moz-transition: $attr $speed ease-in-out;
  -ms-transition: $attr $speed ease-in-out;
  -o-transition: $attr $speed ease-in-out;
  transition: $attr $speed ease-in-out;
}

@mixin equilateral-triangle($direction, $size, $color) {
  width: 0;
  height: 0;
  @if $direction == 'up' {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
  @else if $direction == 'down' {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }
  @else if $direction == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
  @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
