@import "~bootstrap/scss/bootstrap";
@import "config";


.body {
  font-family: 'Open Sans', sans-serif;
  background: #ECEFF1 !important;
}

.bottom-shadow {
  -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
}

.left-shadow {
  -webkit-box-shadow: 4px 0 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 0 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 0 4px 4px rgba(0, 0, 0, 0.3);
}
// Layout

.space-20 {
  padding: 10px 0;
}

.space-30 {
  padding: 15px 0;
}

.separator {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  overflow: hidden;
}

.separator:before {
  content: "";
  padding: 30px;
  background: #546E7A;
}
.separator.white:before {
  background: #fff;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margins {
  margin: 0 !important;
}

.center-element {
  margin: 15px auto !important;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%
}

// Text

a {
  color: #019cd1;
}

a:hover {
  color: #016c90;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align: right;
}

.text-color-medium {
  color: #90A4AE;
}

.text-color-medium-dark {
  color: #607D8B;
}

.text-color-success {
  color: #019cd1;
}

.text-color-failure {
  color: #f44336;
}

.text-color-warning {
  color: #FF9800
}

.text-color-extra-1 {
  color: #9C27B0;
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-medium {
  font-weight: 400;
}

.text-weight-thin {
  font-weight: 100;
}

.text-size-small {
  font-size: 0.9em !important;
}

.text-size-extra-small {
  font-size: 0.8em;
}

.tile-result img {
  max-width: 150px;
}

.tile-form-title {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #90A4AE;
  font-size: 1.2em;
  border-bottom: 1px solid #E4E9ED;

  svg {
    width: 30px;
    height: 30px;
    fill: #90A4AE;
    margin-bottom: -6px;
    margin-right: 10px;
  }
}

.tile-form-body {
  padding: 0 15px;
}

.tile-form-error {
  width: 100%;
  padding: 20px;
  color: #f44336;
  font-weight: 100;
}

.tile-item-selector-container {
  width: 100%;
  padding: 15px;
  border: 1px solid #ECEFF1;
  margin-bottom: 10px;
  cursor: pointer;
  @include transition(all, 0.3s);

  &.active {
    background: #016588;
    color: #fff;

    &:hover {
      background: #093e53;

      .tile-item-selector-title {
        color: #fff;
      }

      .tile-item-selector-icon svg {
        fill: #fff;
      }
    }
  }

  &:hover {
    background: #ECEFF1;

    .tile-item-selector-title {
      color: #016588;
    }

    .tile-item-selector-icon svg {
      fill: #016588;
    }
  }

  .tile-item-selector-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #b0bec5;
    font-size: 1.1em;
    padding: 8px;
    @include transition(all, 0.3s);
  }

  .tile-item-selector-icon {
    width: 100%;
    text-align: center;

    svg {
      width: 40px;
      fill: #b0bec5;
      max-height: 40px;
      margin-bottom: -8px;
      @include transition(all, 0.3s);
    }
  }
}

.tile-main-stat-container {
  width: 100%;
  background: #FBFCFD;
  border: 1px solid #ECEFF1;
}

.tile-stats-item {
  font-weight: 100;
  color: #b0bec5;
}

// Button
.button {
  padding: 10px 20px;
  cursor: pointer;
  background: #019cd1;
  color: #fff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
}

.tags {
  margin-bottom: 10px;

  .tag {
    display: inline-block;
    color: #b0bec5;
    font-size: 0.8em;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    min-width: 90px;
    border: 1px solid #b0bec5;

    &.failure {
      border-color: #f44336;
      color: #f44336;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}


.button-small {
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  padding: 5px;
  border: 2px solid #B0BEC5;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #B0BEC5;
  background: none;

  &.failure {
    border-color: #f44336;
    color: #f44336;
  }

  @include transition(0.3s, all);

  &:hover {
    background: #B0BEC5;
    color: #ECEFF1;
  }
}

button:focus {
  outline: none
}

.link {
  color: #019cd1;
  text-decoration: none;
  cursor: pointer;
  font-weight: 100;
}

.link:hover {
  color: #016c90;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after{
  background: #016588;
}

.hamburger:focus {
  outline: none;
}

// Input
input, textarea {
  @include transition(all, 0.3s);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-weight: 100;
  padding: 10px;
  outline: 0;
  margin-bottom: 15px;
  background: #F4F7F9;
  border: 1px solid #E4E9ED;
  color: #90A4AE;
}

input:focus, textarea:focus {
  background: #E4E9ED;
}

input::placeholder, textarea::placeholder {
  color: #90A4AE;
}

textarea {
  min-height: 300px;
}

select {
  font-family: 'Open Sans', sans-serif;
  color: #90A4AE;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #E4E9ED;
  appearance: none;
  font-weight: 100;
  margin-bottom: 15px;
  background: #F4F7F9;
  border-radius: 0;
  width: 100%;
  padding: 10px;
}

select:focus {
  outline: 0;
}

.input-container {
  width: 100%;
  position: relative;
}

.input-error {
  z-index: 2;
  -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -25px;
  left: 10px;
  padding: 5px 10px;
  font-size: 0.9em;
  color: #f44336;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  border: 1px solid #f44336;
  background: #fff;
}

.input-error:after {
  content:"";
  position: absolute;
  top: -8px;
  left: 5px;
  z-index: 2;
  @include equilateral-triangle('up', 8px, #f44336);
}


// Tile
.tile {
  background: #fff;
  position: relative;
  margin-bottom: 30px;

  .button {
    border: 1px solid #B0BEC5;
    padding: 10px;
    min-width: 100px;
    background: none;
    color: #b0bec5;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    @include transition(all, 0.3s);

    &:hover {
      background: #016c90;
      color: #fff;
      border-color: #016c90;
    }

    &.active {
      background: #019cd1;
      border-color: #016c90;
      color: #fff;
      border-color: #019cd1;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.tile-title {
  position: relative;
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #E4E9ED;

  .edit-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    border: 1px solid #B0BEC5;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      border:  1px solid #016c90;
      background: #016c90;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: #B0BEC5;
      width: 100%;
      height: 100%;
    }
  }
}

.tile-body {
  padding: 30px;
}

.tile-emblem {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 4;
}

.tile-emblem img {
  top: -30px;
  left: calc(50% - 50px);
  position: absolute;
}

.tile-loading-container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}

.tile-loading {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.tile-loading img {
  width: 100%;
  max-width: 130px;
}

.tile-result-container {
  padding: 40px;
}

.tile-result-title {
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  padding-top: 30px;
  font-size: 2em;
}

.tile-result-text {
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.tile-table {
  width: 100%;
  padding: 0;
  margin: 0;

  thead {
    tr {
      background: #fff;
      border-bottom: 2px solid #F4F7F9;

      td {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #90A4AE;
        padding: 15px 5px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #F4F7F9;
      background: #fff;
      @include transition(all, 0.3s);

      &:hover {
        background: #F4F7F9;
      }
    }

    td {
      min-height: 57px;
      padding: 15px 5px;
      outline: none;
      color: #90A4AE;
      font-weight: 100;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;

      .edit-icon {
        border-radius: 5px;
        display: none;
        padding: 5px;
        border: 1px solid #B0BEC5;

        &.active {
          display: inline-block;
        }

        svg {
          fill:#B0BEC5;
          width: 25px;
          height: 25px;
          margin-bottom: -5px;
        }
      }
    }
  }
}

.tile-table-head-menu {
  display: none;
  position: absolute;
  top: 55px;
  background: #fff;
  border: 1px solid #E4E9ED;
  z-index: 2;
  text-align: left;

  &.sticky {
    position: fixed;
    top: 30px;
  }

  &.active {
    display: block;
  }

  .tile-table-head-menu-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 5px 10px;
  }

  ul{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 250px;
    text-align: left;
    max-height: 200px;
    overflow-y: scroll;

    li {
      padding: 5px 20px;
      cursor: pointer;
      position: relative;

      &:hover {
        background: #F4F7F9;
      }

      .tile-table-enabled {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 20px;

        svg {
          width: 100%;
          height: 100%;
          fill: #019cd1;
        }
      }
    }
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.record-selection-container {
  cursor: pointer;
  width: calc(100% - 40px);
  padding: 20px;
  border: 1px solid #ECEFF1;
  border-radius: 5px;
  margin: 20px;
  @include transition(all, 0.3s);

  &.active {
    background: #016c90;
    border: 1px solid #016c90;

    .record-selection-title, .record-selection-small, .record-selection-subtitle {
      color: #fff;
    }


    &:hover {
      background: #093e53;
      border-color: #093e53;
    }
  }

  &:hover {
    background: #F4F7F9;
    border-color: #F4F7F9;
  }

  .record-loading-container {
    min-height: 86px;
    width: 100%;
    position: relative;
  }

  .record-selection-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    color: #607D8B;
    font-weight: 100;
    @include transition(all, 0.3s);
  }

  .record-selection-small {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    color: #3c758d;
    @include transition(all, 0.3s);
  }

  .record-selection-subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    color: #b0bec5;
    @include transition(all, 0.3s);
  }

  .record-selection-image {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .record-selection-icon {
    width: 100%;
    margin: 20px 0;

    svg {
      fill: #B0BEC5;
      width: 100%;
      margin-bottom: -10px;
      height: 50px;
    }
  }

  .record-selection-content {
    height: 100%;
  }
}

.tile-no-records{
  padding: 50px 30px;
  color: #B0BEC5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

  .add-record-icon {
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
    padding: 15px;
    border: 1px solid #B0BEC5;

    svg {
      width: 100%;
      height: 100%;
      fill: #B0BEC5;
    }

    &:hover {
      background : #B0BEC5;

      svg {
        fill: #fff;
      }
    }
  }
}


.sub-page-container {
  width:100%;
  height: 100%;
}

.sub-page-loading-container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  min-height: calc(100vh - 160px);
}

.sub-page-loading-container img {
  margin: 0 auto;
  width: 100%;
  max-width: 130px;
}

.sub-page-title {
  font-family: 'Roboto', sans-serif;
  color: #546E7A;
}

.sub-page-options {
  width: 100%;
}

.sub-page-window-items {
  padding: 0;
  margin: 0;
  list-style: none;

  .sub-page-window-item {
    cursor: pointer;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #90A4AE;
    margin-right: 15px;

    &.active {
      border-bottom: 2px solid #B0BEC5;
    }
  }
}

.secondary-loading-container {
  margin: 0 auto;
  width: 60px;
  height: 60px;

  .secondary-loading {
    width: 100%;
    height: 100%;
    border : 0.25rem solid rgba(1, 108, 144, 0.3);
    border-top: 0.3rem solid rgba(1, 108, 144,1);
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }
}

.loading-items {
  width: 100%;
  min-height: 300px;
  padding: 80px 0;
  background: #fff;
  text-align: center;

  .loading-items-text {
    width: 100%;
    color: #E4E9ED;
  }

  h4 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 15px;
  }

  img {
    width: 100%;
    max-width: 120px;
  }
}

.load-more-items,
.button-grey-outline {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background: none;
  margin: 15px 0;
  border: 2px solid #B0BEC5;
  color: #B0BEC5;
  @include transition(all, 0.2s);

  &:hover {
    background: #016c90;
    color: #fff;
    border: 2px solid #016c90;
  }
}

.component-failure-container {
  display: none !important;
  width: 100%;
  min-height: calc(100vh - 180px);
}

.component-failure-container.active {
    display: flex !important;
}

//slideOutTitle
.slide-out-container {
  @include transition(all, 0.5s);

  &.size-medium {
    width: 400px;

    &.position-right {
      right: -420px;

      &.active {
        right: 0;
      }
    }
  }

  position: fixed;
  top:0;
  background: #FFF;
  height: 100%;
  max-width: 100vw;
  padding-top: 100px;
}

.slide-out-loading-container, .slide-out-result-container {
  width: 100%;
  min-height: 100%;

  .slide-out-result {
    width: 100%;
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      margin-bottom: 30px;
    }

    .slide-out-result-heading {
      font-size: 1.3em;
      font-weight: 100;
      font-family: 'Roboto', sans-serif;
    }

    .slide-out-result-text {
      font-weight: 100;
    }
  }
}

.slide-out-container-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  background: rgba(38, 50, 56, 0.5);
}

.slide-out-top {
  display: table;
  width: calc(100% + 15px);
  margin-left: -15px;
}

.slide-out-title {
  display:table-cell;
  color: #90A4AE;
  background: #263238;
  padding: 20px;
  font-size: 1.3em;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.slide-out-close {
  width: 50px;
  text-align: center;
  display:table-cell;
  background: #016c90;
  @include transition(all, 0.3s);
  cursor: pointer;

  &:hover {
    background: #019cd1;
    color: #fff;

    svg {
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -o-transform:rotate(180deg);

    }
  }

  svg {
    margin-bottom: -5px;
    width: 25px;
    height: 25px;
    fill: #fff;
    @include transition(all, 0.3s);
  }
}

.slide-out-body {
  height: 100vh;
  overflow-y: scroll;
  max-height: calc(100vh - 100px - 71px - 78px);

  .slide-out-text {
    color: #b0bec5;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    padding: 0 30px;
  }
}

.slide-out-footer {
  border-top: 1px solid #B0BEC5;
  background: #F4F7F9;
}

.sub-page-table-slide-head {
  background: #fff;
  z-index: 2;
  margin: 30px;
  box-sizing: border-box;
  width: calc(100vw - 100px - 60px);
  position: fixed;
  left: 100px;
  overflow:hidden;
  top: -100px;
  @include transition(all, 0.3s);

  &.active {
    top: 70px;
  }
}

//reports table
.student-reports-table-container {
  width: 100%;
  min-height: 500px;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  background: #fff;
  position: relative;

  td {
    position: relative;
  }
}
.validated {
  color: #8BC34A;
}

.not-validated {
  color: #f44336;
}

.student-reports-table {
  padding: 0;
  margin: 0;
  width: 100%;
  table-layout:fixed;
  text-transform: capitalize;

  .validation-icon {
    display: inline-block;
    min-width: 36px;
    min-height: 36px;
    padding: 5px;
    border: 1px solid #E4E9ED;

    &.validated {
      color: #8BC34A;
      border: 1px solid #8BC34A;
      background: #DCEDC8;

      svg {
        fill: #8BC34A;
      }
    }

    &.not-validated {
      color: #B0BEC5;
    }

    svg {
      fill: #B0BEC5;
      width: 20px;
      height: 20px;
      margin-bottom: -5px;
    }
  }

  .student-reports-table-name {
    position: relative;
    width: 200px;
  }

  .student-reports-table-username,
  .student-reports-table-state {
    width: 130px;
    position: relative;
  }

  .student-reports-table-column {
    width: 130px;
    text-align: center
  }

  .student-reports-table-attendance {
    width: 120px;
    text-align: center;
  }

  td:first-child {
    padding-left: 30px;
  }

  thead {
    tr {
      background: #fff;
      border-bottom: 2px solid #F4F7F9;

      td {
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color:#90A4AE;
        padding: 15px 5px;
      }

      td:nth-child(6),
      td:nth-child(5) {
        text-align: center;
      }
    }
  }
}

.student-reports-table-load-more {
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #fff;

  .button.load-more-items {
    display: inline-block;
    margin: 0;
  }
}

.student-table-row {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid #F4F7F9;
  padding: 20px 0;
  @include transition(all, 0.2s);

  &:hover {
    background: #F4F7F9;
  }

  td {
    outline: none;
    color:#90A4AE;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 8px 5px;
  }

  td:first-child {
    width: 70px;
  }

  td:nth-child(5) {
    white-space: nowrap;
    width: 100px;
  }

  td:nth-child(6) {
    text-align: center;
    padding: 0 30px;
    white-space: nowrap;
    width: 310px;
  }
}

//defaults
.no-records-container {
  width: 100%;
  min-height: 500px;
  color: #B0BEC5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 100;

  .no-records-inner {
    padding: 30px;
    width: 100%;
    text-align: center;

    .no-records-add-button {
      cursor: pointer;
      display: inline-block;
      padding: 15px;
      margin: 20px 0;
      border: 1px solid #B0BEC5;
      @include transition(all, 0.3s);

      &:hover {
        background: #B0BEC5;

        svg {
          -webkit-transform:rotate(180deg);
          -moz-transform:rotate(180deg);
          -o-transform:rotate(180deg);
          fill: #ECEFF1;
        }
      }

      svg {
        width: 100px;
        height: 100px;
        fill: #B0BEC5;
        @include transition(all, 0.3s);
      }
    }
  }
}


//uploads
.upload-container {
  width: 100%;
  padding: 30px;
  border: 2px dashed #b0bec5;
  cursor: pointer;
  text-align: center;
  @include transition(all, 0.3s);
  overflow: hidden;

  svg {
    width: 100px;
    height: 100px;
    fill: #b0bec5;
  }

  &:hover {
    background: #F4F7F9;
  }

  table {
    margin: 0 auto;

    tr {
      td {
        padding: 15px;
      }
    }
  }

  .upload-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #b0bec5;
    font-size: 1.4em;
  }

  .upload-subtext {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: #b0bec5;
  }
}

.square-container {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
}

.square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.square-content-title {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #b0bec5;
}

.square-content-value {
  text-align: center;
  color: #016c90;
  font-family: "Roboto", sans-serif;

  .square-content-value-large {
    font-size: 4em;
  }
}

.square-content-subtitle {
  font-size: 2em;
  color: #b0bec5;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}


//rotations
.animate-rotation {
  -webkit-transition: transform 0.4s;
  -moz-transition: transform  0.4s;
  -ms-transition: transform  0.4s;
  -o-transition: transform  0.4s;
  transition: transform 0.4s;
}

@for $i from 0 through 360 {
  .r#{$i} {
    -webkit-transform: rotate(#{$i}deg);
    -moz-transform: rotate(#{$i}deg);
    -ms-transform: rotate(#{$i}deg);
    -o-transform: rotate(#{$i}deg);
    transform: rotate(#{$i}deg);
  }
}


//user-profile

.user-profile-long-container {
  a {
    color: inherit;
    text-decoration: none;
  }
  color: #b0bec5;
  font-weight: 100;

  .user-container {
    padding: 30px;
  }

  .footer {
    width: 100%;
    padding: 15px 30px;
    background: #F4F7F9;
    transition: all 0.3s ease-in-out;
  }

  .user-profile-validation {
    list-style: none;
    margin: 0;
    text-transform: capitalize;

    li {
      display: inline-block;
      padding: 5px;
      background: #ECEFF1;
      width: calc(20% - 5px);
      margin-left: -5px;

      &.validated {
        background: #8BC34A;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .user-image {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background: #fff;
    border: 1px solid #F4F7F9;
    overflow: hidden;

    img {
      padding: 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .user-names {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #b0bec5;
  }

  .user-username {
    font-size: 2.2em;
    font-family: 'Roboto', sans-serif;
    color: #3c758d;
    font-weight: 100;
    line-height: 1.1em;
  }

  .user-demographics {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }

  .user-tags {
    color: #b0bec5;
    margin: 10px 0 15px 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        font-size: 0.8em;
        font-weight: 100;
        padding: 5px 10px;
        border: 1px solid #b0bec5;
        border-radius: 5px;

         &.good {
           border-color: #8BC34A;
           color: #8BC34A;
         }

        &.bad {
          border-color: #f44336;
          color: #f44336;
        }

        &.extra-1 {
          color: #9C27B0;
          border-color: #9C27B0;
        }
      }
    }
  }
}
