<div [class.active]="navService.editUserInformationSliderToggled" class="edit-user-information-container slide-out-container left-shadow">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)="navService.editUserInformationSliderToggled = false">
      <svg><use xlink:href="#cross-icon"></use></svg>    </div>
    <div class="slide-out-title">
      Edit User Information
    </div>
  </div>
  <div class="slide-out-body">
      <form>
        <div class="tile-form-title"><svg><use xlink:href="#chat-icon"></use></svg>Personal Information</div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <input name="first-name" placeholder="First Name">
            </div>
            <div class="col-12">
              <input name="last-name" placeholder="Last Name">
            </div>
            <div class="col-12">
              <input name="preferred-name" placeholder="Preferred Name">
            </div>
            <div class="col-12">
              <select name="birth-country" title="birth-country">
                <option value="" disabled>Country of Birth</option>
                <option [selected]="" *ngFor="let country of countryList" [ngValue]="country?.value">{{country?.name}}</option>
              </select>
            </div>
            <div class="col-12">
              <select name="ethnicity" title="ethnicity">
                <option value="" disabled [selected]="!user?.ethnicity">Ethnic Group</option>
                <option [selected]="user?.ethnicity === ethnicity?.value" *ngFor="let ethnicity of ethnicityList" [ngValue]="ethnicity?.value">{{ethnicity?.title}}</option>
              </select>
            </div>
            <div class="col-12">
              <select name="language" title="language">
                <option value="" disabled [selected]="!user?.homeLanguage">Home Language</option>
                <option [selected]="user?.homeLanguage === languageList?.value" *ngFor="let language of languageList" [ngValue]="language?.value">{{language?.title}}</option>
              </select>
            </div>
            <div class="col-12">
              <select name="marital-status" title="marital-status">
                <option value="" disabled [selected]="!user?.maritalStatus">Marital Status</option>
                <option [selected]="user?.maritalStatus === maritalStatusList?.value" *ngFor="let maritalStatus of maritalStatusList" [ngValue]="maritalStatus?.value">{{maritalStatus?.title}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="tile-form-title"><svg><use xlink:href="#chat-icon"></use></svg>Contact Information</div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <input name="email-address" placeholder="Email Address">
            </div>
            <div class="col-12">
              <input name="phone" placeholder="Contact Number">
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline">Save</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline">Cancel</div>
        </div>
      </div>
    </div>

  </div>
</div>
