<div class="notifications-container">
  <div *ngFor="let notification of notificationService.notifications.slice().reverse()" [ngClass]="{ 'active': notification.isVisible }" class="notification-container bottom-shadow">
    <div class="notification-content">{{notification?.content}}</div>
    <div class="notification-time">{{notification.tsl}}</div>
  </div>
</div>
