.notification-container {
  background: #fff;
  padding: 10px;
  width: 350px;
  border: 1px solid #E4E9ED;
  animation:  hideNotification 0.5s ease-in-out;

  &.active {
    display: block;
    animation:  showNotification 0.5s ease-in-out;
  }
}

@keyframes hideNotification {
  0% {
    display: block;
    margin-right: 0;
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: block;
    margin-right: -100px;
  }
  100% {
    display: none;
  }
}

@keyframes showNotification {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display:block;
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    display:block;
    margin-right: 0;
    opacity: 1;
  }
}
