<div class="new-staff-voter-container slide-out-container left-shadow" [class.active]="navService.isManageStaffVotersSliderToggled">
  <div class="slide-out-top">
    <div class="slide-out-close" (click)=" navService.isManageStaffVotersSliderToggled = false">
      <svg><use xlink:href="#cross-icon"></use></svg></div>
    <div class="slide-out-title">
      Manage Staff Voters
    </div>
  </div>
  <div class="slide-out-body">
    <div class="record-selection-container" *ngIf="!loading && !staffService.staff.length">
      <div class="row">
        <div class="col-12 col-lg-4"><div class="record-selection-icon"><svg><use xlink:href="#failure-icon"></use></svg></div></div>
        <div class="col-12 col-lg-8">
          <div class="record-selection-title">Oops</div>
          <div class="record-selection-subtitle">There aren't any staff members.</div>
        </div>
      </div>
    </div>
    <div class="record-selection-items" *ngIf="staffService.staff">
      <ng-template ngFor let-user [ngForOf]="staffService.staff">
        <div class="record-selection-container" [class.active]="user.selected" (click)="toggleStaffMember(user)">
          <div class="row" *ngIf="!user.loading">
            <div class="col-12 col-lg-4"><div class="record-selection-image">
              <img *ngIf="user.profileImage" src="{{user.profileImage}}">
              <img *ngIf="!user.profileImage" src="/assets/images/default-user-profile.jpg">
            </div></div>
            <div class="col-12 col-lg-8 d-flex">
              <div class="record-selection-content d-flex align-items-center">
                <div class="record-selection-content-inner">
                  <div class="record-selection-title">{{user.firstName}} {{user.lastName}}</div>
                  <div class="record-selection-small">{{user.email}}</div>
                  <div class="record-selection-subtitle">{{user.role}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="user.loading">
            <div class="col-12">
              <div class="record-loading-container d-flex align-items-center">
                <div class="loading-items text-align-center d-flex align-items-center">
                  <div class="loading-items-text">
                    <div class="secondary-loading-container">
                      <div class="secondary-loading"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="slide-out-loading-container d-flex align-items-center" *ngIf="loading">
      <div class="loading-items text-align-center d-flex align-items-center">
        <div class="loading-items-text">
          <div class="secondary-loading-container">
            <div class="secondary-loading"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="success || failure" class="slide-out-result-container d-flex align-items-center">
      <div class="slide-out-result">
        <img src="/assets/images/success-animation.gif" *ngIf="success">
        <img src="/assets/images/failure-animation.gif" *ngIf="failure">
        <div class="slide-out-result-heading text-color-success" *ngIf="success">Success</div>
        <div class="slide-out-result-heading text-color-failure" *ngIf="failure">Failure</div>
        <div class="slide-out-result-text text-color-medium">{{resultMessage}}</div>
      </div>
    </div>
  </div>
  <div class="slide-out-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="button button-grey-outline" *ngIf="success || failure" (click)=" navService.isManageStaffVotersSliderToggled = false">Close</div>
        </div>
      </div>
    </div>

  </div>
</div>
